<div class="project-card" data-id="{%PROJECT_ID%}">
  <!-- PROJECT HEADER -->
  <div class="project-card__header">
    <h2 class="project-card__title hidden"></h2>
    <input type="text" id="project-title-input" placeholder="Enter title" class="project-card__title-input" />

    <div class="project-card__buttons">
      <button class="project-card__btn btn-sort-tasks" title="Sort tasks">
        <img src="../../../public/icons/sort.png" alt="Sort tasks" class="icon-sort" />
      </button>

      <button class="project-card__btn btn-add-task" title="Add task">
        <img src="../../../public/icons/add.png" alt="Add new task" class="icon-add" />
      </button>

      <button class="project-card__btn btn-settings" title="Settings">
        <img src="../../../public/icons/settings.png" alt="Sort tasks" class="icon-settings" />
      </button>
    </div>
  </div>

  <!-- PROJECT BODY -->
  <div class="project-card__body">
    <!-- TASK CONTAINER -->
    <div class="project-card__task-container"></div>

    <!-- CHECKED TASKS -->
    <div class="project-card__task-container--checked-wrapper">
      <div class="project-card__task-container-heading">Completed (<span class="project-card__completed-counter"></span>)</div>
      <div class="project-card__task-container--checked">
        <!-- <div class="project-card__task-container--checked-no-tasks">
          <p>No completed tasks yet.</p>
        </div> -->
      </div>
    </div>
    <!-- ADD TASK BUTTON -->
    <button class="project-card__btn-add-task btn-add-task hidden">+ Add task</button>
  </div>
  <!-- END OF PROJECT CARD BODY ---------------------- X -->
</div>
