// mixin.scss

@use './vars';
@use '../tasks/task-mixins' as *;
@use './mixins-buttons';
@use './mixins-modals.scss';

@forward './vars';
@forward '../tasks/task-mixins';
@forward './mixins-buttons';
@forward './mixins-modals.scss';

//-- EFFECTS ------------------------------------//

// ANIMATIONS //
@mixin scale-up-center() {
  transform-origin: center;
  animation: scale-up-center 0.2s ease-out forwards;
  transform: scale(0);
  opacity: 0;
}

// FLEX //
@mixin flex-center-all() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ACTIVE PRIO BTN //
@mixin active-prio-btn($bg) {
  background: $bg !important;
  border: 1px solid white;
  box-shadow: 0 0 5px white;
  transform: scale(1.1);
}

//-- TEXT ----------------------------------------//

// HEADINGS //
@mixin h2-project() {
  padding: 0.1em 0.5em;
  font-size: vars.$fs-project-title;
  font-family: vars.$font-body;
  font-weight: normal;
  letter-spacing: vars.$ls-primary;
}

// INPUT //
@mixin input-text($col: vars.$col-secondary, $fs: 1.35rem) {
  width: 100%;
  margin-right: 0.4em;
  padding: 0.1em 0.5em;
  font-size: $fs;
  font-family: vars.$font-body;
  color: $col;
  letter-spacing: vars.$ls-primary;
  border: none;
  border-radius: vars.$br-primary;
  outline: none;
}
@mixin input-text-focus($color: vars.$col-secondary) {
  color: $color;
  border: none;
  outline: none;
  box-shadow: vars.$box-glow;
}
@mixin input-text-placeholder($color: vars.$col-primary) {
  color: $color;
}
@mixin input-text-focus-placeholder($col: vars.$col-primary-low-op) {
  color: $col;
}

// FOOTER //
@mixin footer-save-del($cls, $cls-btn) {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .#{$cls}__footer--buttons {
    display: flex;
    justify-content: end;
    gap: 0.5em;
    width: 100%;
    padding: 0.5em 1em;
    background: vars.$col-primary-low-op;

    .btn-#{$cls-btn}-footer {
      @include mixins-buttons.btn-small;
      margin: 0.1em 0;
    }
    .btn-#{$cls-btn}-footer:hover {
      @include mixins-buttons.btn-hover(1.05);
    }
    .btn-cancel:hover {
      background: vars.$col-prio1;
    }
    .btn-save:hover {
      background: vars.$col-prio2;
    }
  }
}
