@use './vars';

@mixin btn-border() {
  border: none;
  border-radius: vars.$br-primary;
}
@mixin btn-hover($sc: 1.02) {
  transform: scale($sc);
  cursor: pointer;
}

// HEADER BUTTONS //
@mixin buttons-action-bar($cls, $col: white) {
  display: flex;
  gap: 0.3em;

  .#{$cls}__btn {
    width: 2em;
    height: 2em;
    padding: 0.13em 0.06em;
    background: none;
    border: 1px solid $col;
    border-radius: 0.5em;
    cursor: pointer;
    transition: vars.$transform-ease-in;
  }
  .#{$cls}__btn:hover {
    transform: scale(1.05);
    box-shadow: vars.$box-glow-mid;
    cursor: pointer;
  }
  .#{$cls}__btn--icon {
    width: 100%;
    height: 100%;
  }
}

// LARGE BUTTON //
@mixin btn-wide($bg: vars.$col-primary-op) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0.5em;
  font-size: 1.1rem;
  letter-spacing: vars.$ls-primary;
  background: $bg;
  @include btn-border();
  transition: all 0.3s ease-in-out;
}
@mixin btn-wide-hover($col: white, $bg: vars.$col-primary) {
  color: $col;
  background: $bg;
  cursor: pointer;
  transform: scale(1.02);
  transform-origin: center;
  will-change: transform;
}

// MEDIUM BUTTON //
@mixin btn-medium($col: vars.$col-secondary, $bg: vars.$col-primary-op) {
  padding: 0.5em;
  letter-spacing: vars.$ls-primary;
  color: $col;
  background: $bg;
  @include btn-border();
  transition: vars.$ease-in;
}
@mixin btn-medium-hover($bg: vars.$col-primary) {
  background: $bg;
  @include btn-hover;
}

// SMALL BUTTON //
@mixin btn-small($col: vars.$col-secondary, $bg: white) {
  padding: 0.1em 0.6em;
  color: $col;
  background: $bg;
  transition: vars.$transform-ease-in;
  @include btn-border();
  border-radius: 0.5em;
}

// TINY BUTTON //
@mixin btn-tiny($bg: vars.$col-primary-low-op) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  padding: 0.1em 0.6em;
  background: $bg;
  transition: vars.$transform-ease-in;
  @include btn-border();
  border-radius: 0.5em;
}
