/*** COLORS ****************************/
$col-black: rgba(0, 0, 0, 1);
$col-primary: rgba(213, 207, 204, 1);
$col-primary-op: rgba(213, 207, 204, 0.7);
$col-primary-low-op: rgba(213, 207, 204, 0.5);
$col-primary-xlow-op: rgba(213, 207, 204, 0.2);

$col-primary-dark: rgba(165, 160, 158, 1);
$col-primary-dark-op: rgba(165, 160, 158, 0.6);
$col-primary-dark-low-op: rgba(165, 160, 158, 0.2);
$col-primary-selected: rgba(209, 184, 176, 1);

$col-secondary: rgba(158, 158, 158, 1);
$col-secondary-op: rgba(158, 158, 158, 0.35);
$col-selection: rgba(232, 232, 232, 1);

$col-prio1: rgba(215, 195, 195, 1);
$col-prio1-light: rgba(215, 195, 195, 0.5);
$col-prio1-xlight: rgba(215, 195, 195, 0.4);
$col-prio1-dark: rgba(155, 130, 130, 1);
$col-prio1-selected: rgba(180, 155, 155, 1);

$col-prio2: rgba(200, 215, 205, 1);
$col-prio2-light: rgba(200, 215, 205, 0.5);
$col-prio2-xlight: rgba(200, 215, 205, 0.4);
$col-prio2-dark: rgba(160, 170, 165, 1);
$col-prio2-selected: rgba(165, 195, 175, 1);

$col-prio3: rgb(193, 211, 228);
$col-prio3-light: rgba(204, 223, 240, 0.5);
$col-prio3-xlight: rgba(204, 223, 240, 0.4);
$col-prio3-dark: rgba(150, 170, 197, 1);
$col-prio3-selected: rgba(166, 189, 209, 1);

$col-btn-active: rgba(255, 255, 255, 0.5);
$col-overview-bg: rgba(182, 178, 177, 1);

/*** FONTS *****************************/
$font-h1: 'Arizonia', sans-serif;
$font-body: 'Urbanist', sans-serif;
$font-body-it: 'Urbanist Italic', sans-serif;

/*** FONT SIZES ************************/
$fs-project-title: 1.35rem;
$fs-task-title: 1.2rem;

/*** FONT STYLES ***********************/
$lh-primary: 1.5;
$ls-primary: 0.05em;
$ls-title: 0.05em;

/*** EFFECTS ***************************/
$box-glow: 0 0 4px white;
$box-glow-mid: 0 0 2px white;
$box-glow-thin: 0 0 1px white;

$ease-in: all 0.2s ease-in;
$op-ease-in: opacity 0.2s ease-in;
$transform-ease-in: transform 0.2s ease-in;

/*** BORDERS ***************************/
$br-primary: 0.9em;
