<!-- TO-DO CARD NOTE OPTION -->
<div class="task-form__note">
  <div class="task-form__note-header">
    <input type="text" class="task-form__note-input-title" placeholder="Add note" />
    <div class="task-form__note-title hidden">{%NOTE_TITLE%}</div>
    <div class="task-form__note-buttons">
      <button class="task-form__btn btn-save">
        <img src="./public/icons/save.png" alt="Save checklist" title="Save checklist" class="task-form__btn--icon" />
      </button>
    </div>
  </div>
  <div class="task-form__note-body">{%NOTE_TEXT%}</div>
</div>
