<div class="task" data-id="{%TASK_ID%}" data-state="card">
  <!-- HEADER -->
  <div class="task-header">
    <!-- TITLE -->
    <div class="task-header__title-wrapper">
      <img src="../../../public/icons/checkbox-blank.png" alt="Blank checkbox" class="task-header__checkbox" data-checked="false" />

      <input type="text" placeholder="Title" class="input-title task-header__input hidden" />
      <div class="title task-header__title">{%TASK_TITLE%}</div>
    </div>
    <!-- BUTTONS HEADER -->
    <div class="task-header__buttons">
      <button class="task-header__btn btn-edit-task">
        <img src="../../../public/icons/edit.png" alt="Edit task" title="Edit task" class="task-header__btn--icon" />
      </button>
      <button class="task-header__btn btn-delete-task">
        <img src="../../../public/icons/delete.png" alt="Delete task" title="Delete task" class="task-header__btn--icon" />
      </button>
    </div>
  </div>

  <!-- BODY -->
  <div class="task-body">
    <div class="task-body__top">
      <!-- DESCRIPTION (BODY TOP) -->
      <div class="task-description">{%TASK_DESCRIPTION%}</div>

      <!-- DUE DATE (BODY TOP) -->
      <div class="task-due task-due--icon">
        <img src="../../../public/icons/calendar.png" title="Add due date (optional)" alt="Due date button" class="task-due-icon task-due--icon" />
      </div>

      <div class="task-due task-due--text hidden">
        <span class="task-due__small-top"></span>
        <span class="task-due__big"></span>
        <span class="task-due__small-bottom"></span>
      </div>
    </div>

    <!-- ADD ITEM BUTTONS -->
    <div class="task-add-item">
      <button class="task-add-item__btn btn-add-checklist" data-item="checklist">Add checklist</button>
      <button class="task-add-item__btn btn-add-note" data-item="note">Add note</button>
    </div>

    <!-- SORT ITEMS BUTTON -->
    <div class="task-sort hidden">
      <div class="task-sort__label">Sort by:</div>
      <button class="task-sort__selection">
        <span class="task-sort__selection-text">Creation date</span>
        <img src="../../../public/icons/arrow-down--col-sec.png" alt="Expand dropdown arrow" class="task-sort__selection-icon" />
      </button>

      <button class="task-sort__swap-btn" title="Swap sort order">
        <img src="../../../public/icons/sort-swap.png" alt="Swap sort order" title="Swap sort order" class="task-sort__swap-btn-icon" />
      </button>
    </div>

    <!-- ITEMS (BODY) -->
    <div class="task-items-container"></div>
  </div>
  <!-- FOOTER -->
  <div class="task-footer--created">
    <div class="task-footer__created">Created: {%TASK_CREATED%}</div>
    <img src="../../../public/icons/arrow-dropdown.png" alt="Expand button" class="task-footer__expand-btn" />
  </div>
</div>
