<div class="task-card" data-id="{%TASKCARD_ID%}">
  <!-- HEADER -->
  <div class="task-card__header">
    <div class="task-card__title-wrapper">
      <img src="../../../public/icons/checkbox-blank.png" alt="Blank checkbox" class="checkbox" />
      <div class="task-card__title">{%TASKCARD_TITLE%}</div>
    </div>
    <div class="task-card__buttons">
      <button class="task-card__btn btn-add-task">
        <img src="../../../public/icons/edit.png" alt="Edit task" class="task-card__btn--icon" />
      </button>
      <button class="task-card__btn btn-delete">
        <img src="../../../public/icons/delete.png" alt="Delete task" class="task-card__btn--icon" />
      </button>
    </div>
  </div>

  <!-- BODY -->
  <div class="task-card__body">
    <!-- PREVIEW / BODY TOP -->
    <div class="task-card__body-top">
      <!-- DESCRIPTION (BODY TOP) -->
      <div class="task-card__description">{%TASKCARD_DESCRIPTION%}</div>

      <!-- DUE DATE (BODY TOP) -->
      <div class="task-card__btn-due-date hidden">
        <img src="../../../public/icons/calendar.png" title="Add due date (optional)" alt="Due date button" class="icon-calendar" />
      </div>

      <div class="task-card__due-date">
        <span class="task-card__due-date--month"></span>
        <span class="task-card__due-date--date"></span>
        <span class="task-card__due-date--year"></span>
      </div>
    </div>

    <!-- ITEMS (BODY) -->
    <div class="task-card__container">{%TASKCARD_ITEMS%}</div>

    <!-- FOOTER -->
    <div class="task-card__footer">
      <div class="task-card__creation-date">Created: {%TASKCARD_CREATED%}</div>
      <img src="../../../public/icons/arrow-dropdown.png" alt="Expand button" class="expand-btn" />
    </div>
  </div>
</div>
