<div class="modal modal-overview">
  <div class="overview-content">
    <!-- HEADER -->
    <div class="overview-header">
      <h2 class="overview-header__heading">Overview</h2>

      <!-- STATS -->
      <div class="overview-stats">
        <div class="overview-stats__li">
          <img src="./public/icons/task.png" alt="Task icon" class="overview-stats__li-icon" />
          <div class="overview-stats__li-desc">
            <span class="overview-stats__li-counter">{%OVERVIEW_TASKS_LENGTH%}</span>
            Tasks
          </div>
        </div>

        <div class="overview-stats__li">
          <img src="./public/icons/checklist.png" alt="Checklist icon" class="overview-stats__li-icon" />
          <div class="overview-stats__li-desc">
            <span class="overview-stats__li-counter">{%OVERVIEW_CHECKLISTS_LENGTH%}</span>
            Checklists
          </div>
        </div>

        <div class="overview-stats__li">
          <img src="./public/icons/note.png" alt="Note icon" class="overview-stats__li-icon" />
          <div class="overview-stats__li-desc">
            <span class="overview-stats__li-counter">{%OVERVIEW_NOTES_LENGTH%}</span>
            Notes
          </div>
        </div>
      </div>
    </div>

    <!-- BODY -->
    <div class="overview-body">{%OVERVIEW_TASKS%}</div>
  </div>
</div>
