@use './vars';

/** FLEX *********************************/
@mixin flex-center-all() {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** INPUT ********************************/

@mixin input-text($color) {
  padding: 0.2em 0.5em;
  font-family: vars.$font-body;
  color: $color;
  letter-spacing: vars.$ls-primary;
  border-radius: vars.$br-primary;
  outline: none;
}

/** PROJECT ******************************/
@mixin h2-project() {
  padding: 0.2em 0.5em;
  font-size: vars.$fs-project-title;
  font-family: vars.$font-body;
  font-weight: normal;
  letter-spacing: vars.$ls-primary;
}
