@use './vars';
@use './mixins';

/*** PROJECT CARD ****************************/
#projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  width: 100%;
  margin: auto;
  padding: 2em;
}
.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33.333% - 2em);
  max-width: calc(33.333% - 2em);
  height: 100%;
  min-height: 50vh;
  margin-bottom: 2.5em;
  background: vars.$col-primary;
  border: 2px solid vars.$col-primary;
  border-radius: vars.$br-primary;
}
.project-card__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 10%;
  padding: 0.5em 0.7em;
  background: vars.$col-primary;
  border-radius: vars.$br-primary;
}

.project-card__header h2 {
  @include mixins.h2-project;
  color: white;
}
.project-card__header .project-card__title-input {
  @include mixins.h2-project;
  @include mixins.input-text(vars.$col-secondary);
  width: 70%;
  font-size: vars.$fs-project-title;
  border: none;
}
.project-card__header input[type='text']::placeholder {
  color: lightgray;
}
.project-card__header input[type='text']:active {
  color: vars.$col-primary;
}
.project-card__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-card__header button {
  width: 1.2em;
  margin: 0 0.15em;
  font-size: 1.5rem;
  color: white;
  background: none;
  border: 1px solid white;
  cursor: pointer;
}
.project-card__header button:hover {
  box-shadow: 0 0 2px white;
  transform: scale(1.05);
}
.project-card__body {
  height: 100%;
  padding: 1.5em 1.3em;
  background: white;
  border-bottom-left-radius: 0.9em;
  border-bottom-right-radius: 0.9em;
}

/*** PROJECT CARD SETTINGS DROPDOWN *********/
.settings-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  align-self: end;
  width: 60%;
  min-width: 50%;
  height: auto;
  min-height: 25%;
  font-family: vars.$font-body;
  font-size: 1.2rem;
  color: white;
  background: vars.$col-primary;
  border-top: 1px solid white;
}
.settings-dropdown__li {
  padding: 0.4em;
  transition: all 0.2s ease-in;
}
.settings-dropdown__li:hover {
  color: vars.$col-primary;
  background: white;
  cursor: pointer;
}
.settings-dropdown__li:active {
  color: white;
  background: vars.$col-primary;
}
