@use './utilities/vars';
@use './utilities/mixins';

// GLOBAL //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: vars.$font-body;
  line-height: vars.$lh-primary;
  color: vars.$col-secondary;
}

// PSUEDO //
::selection {
  background: vars.$col-selection;
}

// HELPERS //
.hidden {
  display: none;
}
.invisible {
  opacity: 0;
}

// HEADER //
header {
  display: flex;
  width: 100%;
  height: auto;
  font-family: vars.$font-body;
  color: white;
  background: vars.$col-primary;

  h1 {
    padding: 0.1em 1em;
    font-size: 4rem;
    font-family: vars.$font-h1;
    transition: vars.$transform-ease-in;
  }
  h1:hover {
    cursor: pointer;
    animation: pulse 2s ease-in-out infinite alternate;
  }

  nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;

    .nav-link {
      margin: 0 1.7em;
      font-size: 1.6rem;
      cursor: pointer;
      transition: vars.$transform-ease-in;
    }
    .nav-link:hover {
      transform: scale(1.1);
    }
  }
}
