@use './vars';
@use './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: vars.$font-body;
}

/*** HEADER ****************************/
header {
  display: flex;
  width: 100%;
  height: auto;
  font-family: vars.$font-body;
  color: white;
  background: vars.$col-primary;

  h1 {
    padding: 0.1em 1em;
    font-size: 4rem;
    font-family: vars.$font-h1;
    transition: vars.$transform-ease-in;
  }
  h1:hover {
    cursor: pointer;
    animation: pulse 2s ease-in-out infinite alternate;
  }

  nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;

    .nav-link {
      margin: 0 1.7em;
      font-size: 1.6rem;
      cursor: pointer;
      transition: vars.$transform-ease-in;
    }
    .nav-link:hover {
      transform: scale(1.1);
    }
  }
}

/*** TO-DO CARD ****************************/
.todo-card {
  @include mixins.task-card;
}

/* TO-DO HEADER */
.todo-card__header {
  @include mixins.task-header;
}

.todo-card__title-wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

/* TO-DO HEADER CHECKBOX */
.todo-card__title-wrapper img {
  height: 1.5em;
}

.todo-card__title-wrapper img:hover {
  content: url(../../public/icons/checkbox.png);
  opacity: 0.5;
  cursor: pointer;
}

.todo-card__title-wrapper img:active {
  opacity: 1;
}

/* TO-DO HEADER TITLE */
.todo-card__title {
  font-size: 1.25em;
  letter-spacing: 0.1em;
}

/* TO-DO HEADER BUTTONS */
.todo-card__buttons button {
  width: 2em;
  height: 2em;
  margin: 0 0.1em;
  padding: 0.13em 0.06em;
  background: none;
  border: 1px solid white;
  border-radius: 0.5em;
  cursor: pointer;
}

.todo-card__buttons img {
  height: 1.5em;
}

.todo-card__buttons button:hover {
  box-shadow: 0 0 2px white;
  transform: scale(1.05);
}

.todo-card__buttons button:active {
  background: rgba(255, 255, 255, 0.5);
}

/* TO-DO BODY */
.todo-card__body {
  padding: 0.1em 0.7em;
  background: white;
}

/* TO-DO BODY PREVIEW */
.todo-card__preview {
  display: flex;
  gap: 1em;
  margin-top: 0.7em;
  padding-bottom: 0.7em;
}

/* TO-DO BODY DESCRIPTION */
.todo-card__description {
  padding: 0.3em 0.6em;
  font-size: 1rem;
  font-style: italic;
  color: vars.$col-secondary;
  border: 1px dashed vars.$col-prio3-dark;
  border-radius: 0.9em;
}

/* TO-DO BODY DUE DATE */
.todo-card__due-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  color: vars.$col-secondary;
  background: vars.$col-prio3-light;
  border-radius: 0.9em;
}

.todo-card__due-date--number {
  font-size: 1.5rem;
  font-weight: 600;
}

/* TO-DO BODY CHECKLIST & NOTE */
.todo-card__checklist,
.todo-card__note {
  width: 100%;
  min-width: 50%;
  margin: 1em 0;
  padding: 0.5em 1em;
  background: vars.$col-prio3;
  border: 1px solid vars.$col-prio3;
  border-radius: 0.9em;
}

.todo-card__checklist-header,
.todo-card__note-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.3em;
}

.todo-card__checklist-title,
.todo-card__note-title {
  margin: 0 0 0.1em 0.7em;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: white;
}

.todo-card__checklist-body,
.todo-card__note-body {
  padding: 0.5em 1em;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  background: white;
  border: 1px solid vars.$col-prio3;
  border-radius: 0.9em;
}

.todo-card__checklist-body input[type='checkbox']:checked + label {
  text-decoration: line-through;
  color: rgb(163, 163, 163);
}

/* TO-DO BODY FOOTER */
.todo-card__footer {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
  padding: 0.7em 0.5em 0.3em;
}

.todo-card__creation-date {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.1em 0.5em;
  font-size: 0.8rem;
  color: vars.$col-secondary;
  background: vars.$col-prio3-light;
  border-radius: 0.9em;
}

.todo-card__footer img {
  height: 1.8em;
  margin-right: 1em;
}

.todo-card__footer img:hover {
  animation: levitate 2s ease-in-out infinite alternate;
  cursor: pointer;
}

/*** HELPERS ***************************/
.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

/*** PSUEDO ***************************/
::selection {
  background: vars.$col-selection;
}
