// tasks-mixins.scss
@use './vars';

// TASK //
@mixin card($bg: vars.$col-primary-low-op) {
  width: 100%;
  margin-bottom: 1em;
  background: $bg;
  border: 1px solid $bg;
  border-radius: 0.9em;
  overflow: hidden;
}

// HEADER //
@mixin header($bg: vars.$col-primary-low-op) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em;
  color: white;
  background: $bg;
  border: 0;
  border-radius: 0.9em 0.9em 0 0;
}
@mixin title-wrapper() {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

@mixin buttons-header($cls) {
  .task-#{$cls}__btn {
    // display: flex;
    width: 2em;
    height: 2em;
    margin: 0 0.1em;
    padding: 0.13em 0.06em;
    background: none;
    border: 1px solid white;
    border-radius: 0.5em;
    cursor: pointer;
    transition: vars.$transform-ease-in;
  }
  .task-#{$cls}__btn:hover {
    transform: scale(1.05);
    box-shadow: vars.$box-glow-mid;
    cursor: pointer;
  }
  .task-#{$cls}__btn--icon {
    width: 100%;
    height: 100%;
  }
}

// BODY //
@mixin body() {
  padding: 0.6em 0.7em;
  background: white;
}
@mixin body-top() {
  width: 100%;
  display: flex;
  gap: 1em;
  margin-top: 0.7em;
  padding-bottom: 0.7em;
  background: white;
}
@mixin description($padding: 0.35em 0.6em, $bdr-col: vars.$col-primary) {
  width: 100%;
  padding: $padding;
  font-size: 1rem;
  font-style: italic;
  color: vars.$col-secondary;
  border: 1px dashed $bdr-col;
  border-radius: vars.$br-primary;
}
@mixin due-date($bg: vars.$col-primary) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  color: white;
  background: $bg;
  border-radius: vars.$br-primary;
}
@mixin due-date-val() {
  font-size: 1.5rem;
  font-weight: 600;
}

// CHECKLISTS & NOTES //
@mixin item() {
  width: 100%;
  min-width: 50%;
  margin: 1em 0;
  padding: 0.5em 1em;
  background: vars.$col-prio3;
  border: 1px solid vars.$col-prio3;
  border-radius: vars.$br-primary;
}
@mixin item-header() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3em;
}
@mixin item-title() {
  margin: 0 0 0.1em 0.7em;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: white;
}
@mixin item-body() {
  padding: 0.5em 1em;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  background: white;
  border: 1px solid vars.$col-prio3;
  border-radius: vars.$br-primary;
}

// FOOTER //
@mixin item-footer() {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
