<div class="checklist task-form__checklist" data-id="{%CHECKLIST_ID%}" data-type="checklist" data-mode="form">
  <div class="task-form__checklist-header">
    <input type="text" class="input-item-title task-form__checklist-input-title" placeholder="Checklist" />
    <div class="item-title task-form__checklist-title hidden"></div>
    <!-- BUTTONS -->
    <div class="task-form__checklist-buttons">
      <button class="task-form__btn btn-add">
        <img src="../../../../public/icons/add.png" alt="Add checklist" title="Add checklist" class="task-form__btn--icon" />
      </button>
      <button class="task-form__btn btn-delete-checklist">
        <img src="../../../../public/icons/delete.png" alt="Delete checklist" title="Delete checklist" class="task-form__btn--icon" />
      </button>
    </div>
  </div>
  <!-- BODY -->
  <div class="task-form__checklist-body">
    <button class="btn-add-checklist-item btn-add-li">+ Add item</button>
  </div>
</div>
