<div class="checklist" data-id="{%CHECKLIST_ID%}" data-type="checklist">
  <div class="checklist__header">
    <input type="text" class="input-title hidden" placeholder="Checklist" />
    <div class="title checklist__title">{%CHECKLIST_TITLE%}</div>

    <div class="checklist__buttons">
      <button class="checklist__btn btn-add-li">
        <img src="../../../../public/icons/add.png" alt="Add checklist" title="Add checklist" class="checklist__btn--icon" />
      </button>
      <button class="checklist__btn btn-edit-checklist">
        <img src="../../../../public/icons/edit.png" alt="Edit checklist" title="Edit checklist" class="checklist__btn--icon" />
      </button>
      <button class="checklist__btn btn-delete-checklist">
        <img src="../../../../public/icons/delete.png" alt="Delete checklist" title="Delete checklist" class="checklist__btn--icon" />
      </button>
    </div>
  </div>

  <div class="checklist__body">
    {%CHECKLIST_ITEMS%}
    <button class="btn-add-li">+ Add item</button>
  </div>
</div>
