<div class="task-form__checklist" data-id="{%CHECKLIST_ID%}">
  <div class="task-form__checklist-header">
    <input type="text" class="task-form__checklist-input-title" placeholder="Checklist" />
    <div class="task-form__checklist-title hidden"></div>
    <div class="task-form__checklist-buttons">
      <button class="task-form__btn btn-add">
        <img src="../../../../public/icons/add.png" alt="Add list item" title="Add list item" class="task-form__btn--icon" />
      </button>
    </div>
  </div>
  <div class="task-form__checklist-body">
    <button class="btn-add-checklist-item btn-add">+ Add item</button>
  </div>
</div>
