<div class="note task-form__note" data-id="{%NOTE_ID%}" data-type="note">
  <div class="task-form__note-header">
    <!-- <div class="task-form__note-title hidden"></div> -->
    <input type="text" class="task-form__note-input-title title-input" placeholder="Add note" />
    <div class="task-form__note-buttons">
      <button class="task-form__btn btn-delete-note">
        <img src="../../../../public/icons/delete.png" alt="Delete note" title="Delete note" class="task-form__btn--icon" />
      </button>
    </div>
  </div>

  <div class="task-form__note-body">
    <!-- INSERT LINK POPUP -->
    <div class="popup-insert-link hidden">
      <label for="url" class="popup-insert-link__label">Insert URL:</label>
      <input type="text" name="url" placeholder="" class="popup-insert-link__input" required />

      <div class="popup-insert-link__buttons">
        <button class="btn-popup btn-cancel">Cancel</button>
        <button class="btn-popup btn-apply">Apply</button>
      </div>
    </div>

    <!-- FORMATTING BUTTONS -->
    <div class="note-body__formatting-buttons">
      <button class="btn-formatting btn-bold">
        <img src="../../../../public/icons/bold.png" alt="Apply bold" title="Bold" class="btn-formatting--icon" />
      </button>
      <button class="btn-formatting btn-italic">
        <img src="../../../../public/icons/italic.png" alt="Apply italic" title="Italic" class="btn-formatting--icon" />
      </button>
      <button class="btn-formatting btn-underline">
        <img src="../../../../public/icons/underline.png" alt="Apply underline" title="Underline" class="btn-formatting--icon" />
      </button>
      <button class="btn-formatting btn-strikethrough">
        <img src="../../../../public/icons/strikethrough.png" alt="Apply strikethrough" title="Strikethrough" class="btn-formatting--icon" />
      </button>

      <!-- LINK BUTTON -->
      <button class="btn-formatting btn-link">
        <img src="../../../../public/icons/link.png" alt="Create link" title="Create link" class="btn-formatting--icon btn-link-icon" />
        <img src="../../../../public/icons/link-off.png" alt="Remove link" title="Remove link" class="btn-formatting--icon btn-link-off-icon hidden" />
      </button>
    </div>
    <div id="note-editor" class="note-editor"></div>
  </div>
</div>
