<div class="note task-card__note" data-id="{%NOTE_ID%}" data-type="note">
  <div class="task-card__note-header">
    <!-- TITLE -->
    <div class="task-card__note-title title">{%NOTE_TITLE%}</div>
    <input type="text" class="task-card__note-input-title title-input hidden" placeholder="Add note" />

    <!-- BUTTONS (HEADER) -->
    <div class="task-card__note-buttons">
      <button class="task-card__btn btn-edit-note">
        <img src="../../../../public/icons/edit.png" alt="Edit note" title="Edit note" class="task-card__btn--icon" />
      </button>
      <button class="task-card__btn btn-delete-note">
        <img src="../../../../public/icons/delete.png" alt="Delete note" title="Delete note" class="task-card__btn--icon" />
      </button>
      <button class="task-card__btn edit-all-mode btn-save-edits hidden">
        <img src="../../../../public/icons/save.png" alt="Save edits" title="Save edits" class="task-card__btn--icon" />
      </button>
      <button class="task-card__btn edit-all-mode btn-cancel-edits hidden">
        <img src="../../../../public/icons/cancel.png" alt="Cancel edits" title="Cancel edits" class="task-card__btn--icon" />
      </button>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="task-card__note-body">
    <!-- FORMATTING BUTTONS -->
    <div class="note-body__formatting-buttons hidden">
      <button class="btn-formatting btn-bold">
        <img src="../../../../public/icons/bold.png" alt="Apply bold" title="Bold" class="btn-formatting--icon" />
      </button>
      <button class="btn-formatting btn-italic">
        <img src="../../../../public/icons/italic.png" alt="Apply italic" title="Italic" class="btn-formatting--icon" />
      </button>
      <button class="btn-formatting btn-underline">
        <img src="../../../../public/icons/underline.png" alt="Apply underline" title="Underline" class="btn-formatting--icon" />
      </button>
      <button class="btn-formatting btn-strikethrough">
        <img src="../../../../public/icons/strikethrough.png" alt="Apply  strikethrough" title="Strikethrough" class="btn-formatting--icon" />
      </button>

      <!-- LINK BUTTON -->
      <button class="btn-formatting btn-link">
        <img src="../../../../public/icons/link.png" alt="Create link" title="Create  link" class="btn-formatting--icon btn-link-icon" />
        <img src="../../../../public/icons/link-off.png" alt="Remove link" title="Remove link" class="btn-formatting--icon btn-link-off-icon hidden" />
      </button>
    </div>

    <!-- NOTE CONTENT -->
    <div class="task-card__note-content">{%NOTE_CONTENT%}</div>
    <!-- EDITOR -->
    <div id="note-editor" class="note-editor hidden"></div>
    <!-- </div> -->
  </div>
</div>
