<!-- MODAL: DUE DATE -->
<div class="modal-due-date">
  <div class="due-date__container">
    <!-- HEADER -->
    <div class="due-date__header">
      <h2 class="due-date__heading">Pick a due date</h2>
    </div>
    <div class="due-date__body">
      <!-- DATE PICKER -->
      <div class="due-date__date">
        <label for="date">Choose a date:</label>
        <input type="date" id="date" name="date" />
      </div>
      <!-- TIME PICKER -->
      <div class="due-date__time">
        <label for="time">Choose a time:</label>
        <input type="time" id="time" name="time" />
      </div>
    </div>

    <!-- FOOTER -->
    <div class="due-date__footer">
      <div class="due-date__footer--buttons">
        <button class="btn-due-footer btn-cancel">Cancel</button>
        <button class="btn-due-footer btn-save">Save</button>
      </div>
    </div>
  </div>
</div>
