<!-- TASK FORM  --------------------------------------------------->
<div class="task-form" data-id="">
  <!-- FORM HEADER -->
  <div class="task-form__header">
    <div class="task-form__title-wrapper">
      <input type="text" id="input-task-title" placeholder="Title" class="task-form__title-input" required />
      <img src="../../../../public/icons/checkbox-blank.png" alt="Blank checkbox" class="checkbox hidden" />
      <div class="task-form__title task-card__title hidden">{%TASKCARD_TITLE%}</div>
    </div>

    <div class="task-form__buttons">
      <button class="task-form__btn btn-save">
        <img src="../../../../public/icons/save.png" alt="Save task" title="Save task" class="task-form__btn--icon" />
      </button>
    </div>
  </div>

  <!-- FORM BODY -->
  <div class="task-form__body">
    <!-- PRIO -->
    <div class="task-form__prio">
      <div class="task-form__prio-label">Priority level:</div>
      <div class="task-form__prio-buttons">
        <button class="prio-btn prio-top-btn" data-prio="1">Top</button>
        <button class="prio-btn prio-mid-btn" data-prio="2">Mid</button>
        <button class="prio-btn prio-low-btn" data-prio="3">Low</button>
        <button class="prio-btn prio-none-btn" data-prio="0">None</button>
      </div>
    </div>

    <!-- BODY TOP -->
    <div class="task-form__body-top">
      <!-- DESCRIPTION -->
      <textarea rows="3" id="input-task-description" name="input-task-description" placeholder="Add a description (optional)"></textarea>
      <div class="task-form__description hidden">{%TASKCARD_DESCRIPTION%}</div>

      <!-- DUE DATE -->
      <div class="task-form__btn-due-date hidden">
        <img src="../../../../public/icons/calendar.png" title="Add due date (optional)" alt="Due date button" class="icon-calendar" />
      </div>
      <div class="task-form__due-date">
        <span class="task-form__due-date--month">oct</span>
        <span class="task-form__due-date--date">10</span>
        <span class="task-form__due-date--year">2024</span>
      </div>
    </div>

    <!-- ADD ITEM BUTTONS -->
    <div class="task-form__add-item-buttons">
      <button class="btn-add-item btn-add-checklist">Add checklist</button>
      <button class="btn-add-item btn-add-note">Add note</button>
    </div>
  </div>
  <!-- FORM FOOTER -->
  <div class="task-form__footer">
    <div class="task-form__footer--buttons">
      <button class="btn-form-footer btn-cancel">Cancel</button>
      <button class="btn-form-footer btn-save">Save</button>
    </div>
  </div>
</div>
<!-- END OF TASK FORM ---------------------------------------- X -->

<!-- TASK FORM  --------------------------------------------------->
<!-- <div class="task-form hidden"> -->
<!-- FORM HEADER -->
<!-- <div class="task-form__header">
              <div class="task-form__title-wrapper">
                <input type="text" id="input-task-title" placeholder="Title" class="task-form__title-input" />
                <img src="./public/icons/checkbox-blank.png" alt="Blank checkbox" class="checkbox hidden" />
                <div class="task-form__title task-card__title hidden">{%TASKCARD_TITLE%}</div>
              </div>

              <div class="task-form__buttons">
                <button class="task-form__btn btn-save">
                  <img src="./public/icons/save.png" alt="Save task" title="Save task" class="task-form__btn--icon" />
                </button>
              </div>
            </div> -->

<!-- FORM BODY -->
<!-- <div class="task-form__body"> -->
<!-- PRIO -->
<!-- <div class="task-form__prio">
                <div class="task-form__prio-label">Priority level:</div>
                <div class="task-form__prio-buttons">
                  <button class="prio-btn prio-top-btn">Top</button>
                  <button class="prio-btn prio-mid-btn">Mid</button>
                  <button class="prio-btn prio-low-btn">Low</button>
                  <button class="prio-btn prio-none-btn">None</button>
                </div>
              </div> -->

<!-- BODY TOP -->
<!-- <div class="task-form__body-top"> -->
<!-- DESCRIPTION -->
<!-- <textarea rows="3" id="input-task-description" name="input-task-description" placeholder="Add a description (optional)"></textarea>
                <div class="task-form__description hidden">{%TASKCARD_DESCRIPTION%}</div> -->

<!-- DUE DATE -->
<!-- <div class="task-form__btn-due-date">
                  <img src="./public/icons/calendar.png" title="Add due date (optional)" alt="Due date button" class="icon-calendar" />
                </div>
              </div> -->

<!-- ADD ITEM BUTTONS -->
<!-- <div class="task-form__add-item-buttons">
                <button class="btn-add-item">Add checklist</button>
                <button class="btn-add-item">Add note</button>
              </div>
            </div> -->
<!-- FORM FOOTER -->
<!-- <div class="task-form__footer">
              <div class="task-form__footer--buttons">
                <button class="btn-form-footer btn-cancel">Cancel</button>
                <button class="btn-form-footer btn-save">Save</button>
              </div>
            </div>
          </div> -->
<!-- END OF TASK FORM ---------------------------------------- X -->
