<div class="task-form" data-id="">
  <!-- FORM HEADER -->
  <div class="task-form__header">
    <div class="task-form__title-wrapper">
      <input type="text" id="input-task-title" placeholder="Title" class="task-form__title-input" value="Title" required />
      <img src="../../../../public/icons/checkbox-blank.png" alt="Blank checkbox" class="checkbox hidden" />
    </div>

    <div class="task-form__buttons">
      <button class="task-form__btn btn-save">
        <img src="../../../../public/icons/save.png" alt="Save task" title="Save task" class="task-form__btn--icon" />
      </button>
    </div>
  </div>

  <!-- FORM BODY -->
  <div class="task-form__body">
    <!-- PRIO -->
    <div class="task-form__prio">
      <div class="task-form__prio-label">Prio:</div>
      <div class="task-form__prio-buttons">
        <button class="prio-btn prio-top-btn" data-prio="1">Top</button>
        <button class="prio-btn prio-mid-btn" data-prio="2">Mid</button>
        <button class="prio-btn prio-low-btn" data-prio="3">Low</button>
        <button class="prio-btn prio-none-btn" data-prio="0">None</button>
      </div>
    </div>

    <!-- BODY TOP -->
    <div class="task-form__body-top">
      <!-- DESCRIPTION -->
      <textarea rows="3" id="input-task-description" name="input-task-description" placeholder="Add a description (optional)"></textarea>
      <div class="task-form__description hidden">{%TASKCARD_DESCRIPTION%}</div>

      <!-- DUE DATE -->
      <div class="task-form__btn-due-date">
        <img src="../../../../public/icons/calendar.png" title="Add due date (optional)" alt="Due date button" class="icon-calendar" />
      </div>
      <div class="task-form__due-date hidden">
        <span class="task-form__due-date--month"></span>
        <span class="task-form__due-date--date"></span>
        <span class="task-form__due-date--year"></span>
      </div>
    </div>

    <!-- ADD ITEM BUTTONS -->
    <div class="task-form__add-item-buttons">
      <button class="btn-add-item btn-add-checklist">Add checklist</button>
      <button class="btn-add-item btn-add-note">Add note</button>
    </div>

    <!-- ITEMS (BODY) -->
    <div class="task-form__container"></div>
  </div>
  <!-- FORM FOOTER -->
  <div class="task-form__footer">
    <div class="task-form__footer--buttons">
      <button class="btn-form-footer btn-cancel">Cancel</button>
      <button class="btn-form-footer btn-save">Save</button>
    </div>
  </div>
</div>
