/*** COLORS ****************************/
/*** FONTS *****************************/
/*** FONT SIZES ************************/
/*** FONT STYLES ***********************/
/*** EFFECTS ***************************/
/*** BORDERS ***************************/
.task {
  width: 100%;
  margin-bottom: 1em;
  background: rgba(213, 207, 204, 0.4);
  border: 1px solid rgba(213, 207, 204, 0.4);
  border-radius: 0.9em;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.task .task-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em;
  padding-right: 0.8em;
  color: white;
  background: rgba(213, 207, 204, 0.4);
  border: 0;
  border-radius: 0.9em 0.9em 0 0;
}
.task .task-header .task-header__title-wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.1em;
}
.task .task-header .task-header__title-wrapper .task-header__checkbox {
  height: 1.5em;
  transition: opacity 0.2s ease;
}
.task .task-header .task-header__title-wrapper .task-header__checkbox:hover {
  content: url(../../../public/icons/checkbox.png);
  opacity: 0.5;
  cursor: pointer;
}
.task .task-header .task-header__title-wrapper .task-header__checkbox:active {
  opacity: 1;
}
.task .task-header .task-header__title-wrapper .task-header__checkbox--no-hover {
  height: 1.5em;
  transition: opacity 0.2s ease;
  cursor: not-allowed;
}
.task .task-header .task-header__title-wrapper .task-header__title {
  margin-right: 0.4em;
  padding: 0.1em 0.5em;
  font-size: 1.25em;
  letter-spacing: 0.05em;
}
.task .task-header .task-header__title-wrapper .task-header__input {
  width: 100%;
  margin-right: 0.4em;
  padding: 0.1em 0.5em;
  font-size: 1.25em;
  font-family: "Urbanist", sans-serif;
  color: rgb(158, 158, 158);
  letter-spacing: 0.05em;
  border: none;
  border-radius: 0.9em;
  outline: none;
}
.task .task-header .task-header__title-wrapper .task-header__input:focus {
  color: rgb(158, 158, 158);
  border: none;
  outline: none;
  box-shadow: 0 0 4px white;
}
.task .task-header .task-header__title-wrapper .task-header__input::placeholder {
  color: rgb(213, 207, 204);
}
.task .task-header .task-header__title-wrapper .task-header__input:focus::placeholder {
  color: rgba(213, 207, 204, 0.4);
}
.task .task-header .task-header__buttons {
  display: flex;
  gap: 0.3em;
}
.task .task-header .task-header__buttons .task-header__btn {
  width: 2em;
  height: 2em;
  padding: 0.13em 0.06em;
  background: none;
  border: 1px solid white;
  border-radius: 0.5em;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.task .task-header .task-header__buttons .task-header__btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px white;
  cursor: pointer;
}
.task .task-header .task-header__buttons .task-header__btn--icon {
  width: 100%;
  height: 100%;
}
.task .task-body {
  padding: 0.6em 0.7em;
  background: white;
}
.task .task-body .task-prio {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-bottom: 0.7em;
  padding: 0.4em 1em;
  color: rgb(158, 158, 158);
  background: rgba(213, 207, 204, 0.4);
  border-radius: 0.9em;
}
.task .task-body .task-prio .task-prio__buttons {
  display: flex;
  gap: 0.5em;
}
.task .task-body .task-prio .task-prio__buttons .task-prio__btn {
  margin: 0 0.1em;
  padding: 0.1em 0.5em;
  font-family: "Urbanist", sans-serif;
  color: white;
  background: rgb(213, 207, 204);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.task .task-body .task-prio .task-prio__buttons .task-prio__btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px white;
}
.task .task-body .task-prio .task-prio__buttons .prio-top-btn {
  background: rgb(232, 214, 214);
}
.task .task-body .task-prio .task-prio__buttons .prio-mid-btn {
  background: rgb(215, 232, 221);
}
.task .task-body .task-prio .task-prio__buttons .prio-low-btn {
  background: rgb(204, 223, 240);
}
.task .task-body .task-prio .task-prio__buttons .prio-none-btn {
  background: rgba(213, 207, 204, 0.7);
}
.task .task-body .task-body__top {
  width: 100%;
  display: flex;
  gap: 1em;
  margin-top: 0.7em;
  padding-bottom: 0.7em;
  background: white;
}
.task .task-body .task-body__top .task-description {
  width: 100%;
  padding: 0.35em 0.6em;
  font-size: 1rem;
  font-style: italic;
  color: rgb(158, 158, 158);
  border: 1px dashed rgb(213, 207, 204);
  border-radius: 0.9em;
}
.task .task-body .task-body__top .task-description--default {
  color: rgba(213, 207, 204, 0.7);
}
.task .task-body .task-body__top .task-description__textarea {
  width: 100%;
  padding: 0.35em 0.6em;
  font-size: 1rem;
  font-style: italic;
  color: rgb(158, 158, 158);
  border: 1px dashed rgb(213, 207, 204);
  border-radius: 0.9em;
  min-height: 4.5rem;
  resize: vertical;
}
.task .task-body .task-body__top .task-description__textarea:focus {
  width: 100%;
  padding: 0.35em 0.6em;
  font-size: 1rem;
  font-style: italic;
  color: rgb(158, 158, 158);
  border: 1px dashed rgb(213, 207, 204);
  border-radius: 0.9em;
  color: rgb(158, 158, 158);
  outline: none;
}
.task .task-body .task-body__top .task-description__textarea::placeholder {
  color: rgb(158, 158, 158);
}
.task .task-body .task-body__top .task-description__textarea:focus::placeholder {
  color: rgb(213, 207, 204);
}
.task .task-body .task-body__top .task-due {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  padding: 0.3em;
  line-height: 1;
  color: white;
  background: rgba(213, 207, 204, 0.4);
  border-radius: 0.9em;
  text-align: center;
  transition: all 0.2s ease-in;
}
.task .task-body .task-body__top .task-due .task-due--icon {
  width: 80%;
}
.task .task-body .task-body__top .task-due:hover {
  color: white;
  background: rgb(213, 207, 204);
  transform: scale(1.02);
  cursor: pointer;
}
.task .task-body .task-body__top .task-due--text {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  padding: 0.3em;
  line-height: 1;
  color: white;
  background: rgba(213, 207, 204, 0.7);
  border-radius: 0.9em;
  transition: all 0.2s ease-in;
}
.task .task-body .task-body__top .task-due--text .task-due__small-top {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.task .task-body .task-body__top .task-due--text .task-due__big {
  margin: 0.1em 0;
  font-size: 2rem;
  font-weight: 600;
}
.task .task-body .task-body__top .task-due--text .task-due__small-bottom {
  font-size: 0.8rem;
}
.task .task-body .task-add-item {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  margin: 0.5em 0 0.7em;
}
.task .task-body .task-add-item .task-add-item__btn {
  padding: 0.5em;
  letter-spacing: 0.05em;
  color: rgb(158, 158, 158);
  background: rgba(213, 207, 204, 0.7);
  border: none;
  border-radius: 0.9em;
  transition: all 0.2s ease-in;
  min-width: calc(50% - 0.5em);
}
.task .task-body .task-add-item .task-add-item__btn:hover {
  background: rgb(213, 207, 204);
  transform: scale(1.02);
  cursor: pointer;
}
.task .task-body .task-sort {
  position: relative;
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: end;
  margin-bottom: 0.7em;
  padding: 0.3em 0.6em;
  font-size: 0.9rem;
  background: rgba(213, 207, 204, 0.2);
  border-radius: 0.9em;
}
.task .task-body .task-sort .task-sort__selection {
  display: flex;
  gap: 0.3em;
  align-items: center;
  justify-content: center;
  min-width: 40%;
  padding: 0.05em 0.4em;
  font-size: 0.9rem;
  background: white;
  border: 1px solid rgba(213, 207, 204, 0.7);
  border-radius: 0.9em;
  transition: all 0.1s ease-in;
  cursor: pointer;
}
.task .task-body .task-sort .task-sort__selection:hover {
  box-shadow: 0 0 2px rgb(165, 160, 158);
  border: 1px solid rgba(213, 207, 204, 0.4);
}
.task .task-body .task-sort .task-sort__selection .task-sort__selection-icon {
  width: 1em;
}
.task .task-body .task-sort .task-sort__swap-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  padding: 0.1em 0.6em;
  background: rgba(213, 207, 204, 0.7);
  transition: transform 0.2s ease-in;
  border: none;
  border-radius: 0.9em;
  border-radius: 0.5em;
  cursor: pointer;
}
.task .task-body .task-sort .task-sort__swap-btn:hover {
  background: rgba(165, 160, 158, 0.6);
}
.task .task-body .task-sort .task-sort__swap-btn:active {
  background: rgba(213, 207, 204, 0.7);
}
.task .task-body .task-sort .task-sort__swap-btn .task-sort__swap-btn-icon {
  height: 100%;
}
.task .task-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.2em 0.5em 0;
}
.task .task-footer .task-footer__buttons {
  display: flex;
  justify-content: end;
  gap: 0.5em;
  width: 100%;
  padding: 0.5em 1em;
}
.task .task-footer .task-footer__buttons .task-footer__btn {
  padding: 0.1em 0.6em;
  color: rgb(158, 158, 158);
  background: white;
  transition: transform 0.2s ease-in;
  border: none;
  border-radius: 0.9em;
  border-radius: 0.5em;
  margin: 0.1em 0;
}
.task .task-footer .task-footer__buttons .task-footer__btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.task .task-footer .task-footer__buttons .task-footer__btn--cancel:hover {
  background: rgb(232, 214, 214);
}
.task .task-footer .task-footer__buttons .task-footer__btn--save:hover {
  background: rgb(215, 232, 221);
}
.task .task-footer--created {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.4em 0.15em 0.4em 1em;
  font-size: 0.7rem;
  background: rgba(255, 255, 255, 0.3);
}
.task .task-footer--created .task-footer__created {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0 0.5em;
  color: rgba(165, 160, 158, 0.6);
  background: rgba(213, 207, 204, 0.4);
  border-radius: 0.9em;
  transform: all 0.2s ease-in;
}
.task .task-footer--created .task-footer__created:hover {
  color: rgb(165, 160, 158);
  background: rgba(213, 207, 204, 0.7);
  transform: scale(1.01);
}
.task .task-footer--created .task-footer__expand-btn {
  height: 1.8em;
  margin-right: 1em;
}
.task .task-footer--created .task-footer__expand-btn:hover {
  animation: levitate 2s ease-in-out infinite alternate;
  cursor: pointer;
}

.dropdown-sort-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: fit-content;
  background: white;
  border: 1px solid rgba(213, 207, 204, 0.7);
  border-radius: 0.9em;
  font-size: 0.9rem;
  cursor: pointer;
}
.dropdown-sort-items .icon-sort-items {
  width: 1.5em;
}
.dropdown-sort-items .dropdown-sort-items__li {
  display: flex;
  gap: 0.5em;
  align-items: center;
  width: 100%;
  padding: 0 0.7em;
  font-size: 0.9rem;
}
.dropdown-sort-items .dropdown-sort-items__li:hover {
  background: rgba(213, 207, 204, 0.2);
}
.dropdown-sort-items .dropdown-sort-items__li:active {
  color: white;
  background: rgba(213, 207, 204, 0.4);
}
.dropdown-sort-items #li-created {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}
.dropdown-sort-items #li-created:hover {
  border-top-right-radius: 0.9em;
  border-top-left-radius: 0.9em;
}
.dropdown-sort-items #li-type {
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}
.dropdown-sort-items #li-type:hover {
  border-bottom-right-radius: 0.9em;
  border-bottom-left-radius: 0.9em;
}

.task-card__note-content {
  cursor: text;
}

/*# sourceMappingURL=task.css.map */
