/*** COLORS ****************************/
/*** FONTS *****************************/
/*** FONT SIZES ************************/
/*** FONT STYLES ***********************/
/*** EFFECTS ***************************/
/*** BORDERS ***************************/
.task-card {
  width: 100%;
  margin-bottom: 1em;
  background: rgba(213, 207, 204, 0.4);
  border: 1px solid rgba(213, 207, 204, 0.4);
  border-radius: 0.9em;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.task-card .task-card__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em;
  color: white;
  background: rgba(213, 207, 204, 0.4);
  border: 0;
  border-radius: 0.9em 0.9em 0 0;
  padding-right: 0.8em;
}
.task-card .task-card__header .task-card__title-wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}
.task-card .task-card__header .task-card__title-wrapper .checkbox {
  height: 1.5em;
}
.task-card .task-card__header .task-card__title-wrapper .checkbox:hover {
  content: url(../../../public/icons/checkbox.png);
  opacity: 0.5;
  cursor: pointer;
}
.task-card .task-card__header .task-card__title-wrapper .checkbox:active {
  opacity: 1;
}
.task-card .task-card__header .task-card__title-wrapper .task-card__title {
  font-size: 1.25em;
  letter-spacing: 0.1em;
}
.task-card .task-card__header .task-card__buttons {
  display: flex;
  gap: 0.3em;
}
.task-card .task-card__header .task-card__buttons .task-card__btn {
  width: 2em;
  height: 2em;
  padding: 0.13em 0.06em;
  background: none;
  border: 1px solid white;
  border-radius: 0.5em;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.task-card .task-card__header .task-card__buttons .task-card__btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px white;
  cursor: pointer;
}
.task-card .task-card__header .task-card__buttons .task-card__btn--icon {
  width: 100%;
  height: 100%;
}
.task-card .task-card__body {
  padding: 0.6em 0.7em;
  background: white;
}
.task-card .task-card__body .task-card__body-top {
  width: 100%;
  display: flex;
  gap: 1em;
  margin-top: 0.7em;
  padding-bottom: 0.7em;
  background: white;
}
.task-card .task-card__body .task-card__body-top .task-card__description {
  width: 100%;
  padding: 0.35em 0.6em;
  font-size: 1rem;
  font-style: italic;
  color: rgb(158, 158, 158);
  border: 1px dashed rgb(213, 207, 204);
  border-radius: 0.9em;
}
.task-card .task-card__body .task-card__body-top .description--default {
  color: rgba(213, 207, 204, 0.7);
}
.task-card .task-card__body .task-card__body-top .btn-due-date {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  padding: 0.3em;
  line-height: 1;
  color: white;
  background: rgba(213, 207, 204, 0.4);
  border-radius: 0.9em;
  text-align: center;
  transition: all 0.2s ease-in;
}
.task-card .task-card__body .task-card__body-top .btn-due-date .icon-calendar {
  width: 80%;
}
.task-card .task-card__body .task-card__body-top .due-date {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  padding: 0.3em;
  line-height: 1;
  color: white;
  background: rgba(213, 207, 204, 0.7);
  border-radius: 0.9em;
  transition: all 0.2s ease-in;
}
.task-card .task-card__body .task-card__body-top .due-date .due-date--small-top {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.task-card .task-card__body .task-card__body-top .due-date .due-date--big {
  margin: 0.1em 0;
  font-size: 2rem;
  font-weight: 600;
}
.task-card .task-card__body .task-card__body-top .due-date .due-date--small-bottom {
  font-size: 0.8rem;
}
.task-card .task-card__body .task-card__body-top .btn-due-date:hover,
.task-card .task-card__body .task-card__body-top .due-date:hover {
  color: white;
  background: rgb(213, 207, 204);
  transform: scale(1.02);
  cursor: pointer;
}
.task-card .task-card__body .task-card__add-item-buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  margin: 0.5em 0 0.7em;
}
.task-card .task-card__body .task-card__add-item-buttons .btn-add-item {
  padding: 0.5em;
  letter-spacing: 0.05em;
  color: rgb(158, 158, 158);
  background: rgba(213, 207, 204, 0.7);
  border: none;
  border-radius: 0.9em;
  transition: all 0.2s ease-in;
  min-width: calc(50% - 0.5em);
}
.task-card .task-card__body .task-card__add-item-buttons .btn-add-item:hover {
  background: rgb(213, 207, 204);
  transform: scale(1.02);
  cursor: pointer;
}
.task-card .task-card__body .task-card__sort-items {
  position: relative;
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: end;
  margin-bottom: 0.7em;
  padding: 0.3em 0.6em;
  font-size: 0.9rem;
  background: rgba(213, 207, 204, 0.2);
  border-radius: 0.9em;
}
.task-card .task-card__body .task-card__sort-items .btn-active-selection {
  display: flex;
  gap: 0.3em;
  align-items: center;
  padding: 0.05em 0.4em;
  font-size: 0.9rem;
  background: white;
  border: 1px solid rgba(213, 207, 204, 0.7);
  border-radius: 0.9em;
  cursor: pointer;
}
.task-card .task-card__body .task-card__sort-items .btn-active-selection:hover {
  background: rgba(213, 207, 204, 0.4);
}
.task-card .task-card__body .task-card__sort-items .btn-active-selection .icon-active-selection {
  width: 1em;
}
.task-card .task-card__body .task-card__note-content {
  cursor: text;
}
.task-card .task-card__body .task-card__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.2em 0.5em 0;
}
.task-card .task-card__body .task-card__footer .task-card__creation-date {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.1em 0.5em;
  font-size: 0.7rem;
  color: rgba(165, 160, 158, 0.6);
  background: rgba(213, 207, 204, 0.4);
  border-radius: 0.9em;
  transform: all 0.2s ease-in;
}
.task-card .task-card__body .task-card__footer .task-card__creation-date:hover {
  color: rgb(165, 160, 158);
  background: rgba(213, 207, 204, 0.7);
  transform: scale(1.01);
}
.task-card .task-card__body .task-card__footer .expand-btn {
  height: 1.8em;
  margin-right: 1em;
}
.task-card .task-card__body .task-card__footer .expand-btn:hover {
  animation: levitate 2s ease-in-out infinite alternate;
  cursor: pointer;
}

.dropdown-sort-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: fit-content;
  background: white;
  border: 1px solid rgba(213, 207, 204, 0.7);
  border-radius: 0.9em;
  font-size: 0.9rem;
  cursor: pointer;
}
.dropdown-sort-items .icon-sort-items {
  width: 1.5em;
}
.dropdown-sort-items .dropdown-sort-items__li {
  display: flex;
  gap: 0.5em;
  align-items: center;
  width: 100%;
  padding: 0 0.7em;
  font-size: 0.9rem;
}
.dropdown-sort-items .dropdown-sort-items__li:hover {
  background: rgba(213, 207, 204, 0.2);
}
.dropdown-sort-items .dropdown-sort-items__li:active {
  color: white;
  background: rgba(213, 207, 204, 0.4);
}
.dropdown-sort-items .li-created {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}
.dropdown-sort-items .li-created:hover {
  border-top-right-radius: 0.9em;
  border-top-left-radius: 0.9em;
}
.dropdown-sort-items .li-alpha {
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}
.dropdown-sort-items .li-alpha:hover {
  border-bottom-right-radius: 0.9em;
  border-bottom-left-radius: 0.9em;
}

/*# sourceMappingURL=task-card.css.map */
