<div class="dropdown-project sort-dropdown">
  <div class="dropdown-project__li sort-dropdown__li--title">
    <span>Sort by:</span>
  </div>
  <div class="dropdown-project__li sort-dropdown__li sort-prio">
    <img src="../../../public/icons/sort-prio.png" alt="Prio icon" class="icon-dropdown icon-swap" />
    <img src="../../../public/icons/sort-prio--col-pr.png" alt="Prio icon" class="icon-dropdown icon-dropdown--hover icon-swap hidden" />
    <span>Priority</span>
  </div>
  <div class="dropdown-project__li sort-dropdown__li sort-due">
    <img src="../../../public/icons/sort-due-date.png" alt="Due icon" class="icon-dropdown icon-due" />
    <img src="../../../public/icons/sort-due-date--col-pr.png" alt="Due icon" class="icon-dropdown icon-dropdown--hover icon-due hidden" />
    <span>Due date</span>
  </div>
  <div class="dropdown-project__li sort-dropdown__li sort-alpha">
    <img src="../../../public/icons/sort-alpha.png" alt="Sort alphabetically icon" class="icon-dropdown icon-alpha" />
    <img src="../../../public/icons/sort-alpha--col-pr.png" alt="Sort alphabetically icon" class="icon-dropdown icon-dropdown--hover icon-alpha hidden" />
    <span>Alphabetically</span>
  </div>
  <div class="dropdown-project__li sort-dropdown__li sort-created">
    <img src="../../../public/icons/sort-created.png" alt="Created icon" class="icon-dropdown icon-created" />
    <img src="../../../public/icons/sort-created--col-pr.png" alt="Created icon" class="icon-dropdown icon-dropdown--hover icon-created hidden" />
    <span>Created</span>
  </div>
</div>
