<!-- SETTINGS DROPDOWN ----------------------------------------------->
<div class="dropdown-project settings-dropdown hidden">
  <div class="dropdown-project__li settings-dropdown__li">Edit title</div>
  <div class="dropdown-project__li settings-dropdown__li">Clone project</div>
  <div class="dropdown-project__li settings-dropdown__li">Mark all task complete</div>
  <div class="dropdown-project__li settings-dropdown__li">Delete expired tasks</div>
  <div class="dropdown-project__li settings-dropdown__li">Delete project</div>
</div>
<!-- END OF SETTINGS DROPDOWN ----------------------------------- X -->
