<div class="dropdown-project settings-dropdown">
  <div class="dropdown-project__li settings-dropdown__li settings-edit">Edit title</div>
  <div class="dropdown-project__li settings-dropdown__li settings-clone">Clone project</div>
  <div class="dropdown-project__li settings-dropdown__li settings-mark-complete">Mark all tasks complete</div>
  <div class="dropdown-project__li settings-dropdown__li settings-mark-incomplete">Mark all tasks incomplete</div>
  <div class="dropdown-project__li settings-dropdown__li settings-delete-expired">Delete expired tasks</div>
  <div class="dropdown-project__li settings-dropdown__li settings-delete">Delete project</div>
</div>
