<div class="dropdown-sort-items">
  <div id="li-created" class="dropdown-sort-items__li" data-sort="Creation date">
    <img src="../../../public/icons/sort-created--col-pr.png" alt="Created icon" class="icon-sort-items icon-created" />
    <span class="sort-selection">Creation date</span>
  </div>
  <div id="li-alpha" class="dropdown-sort-items__li" data-sort="Alphabetically">
    <img src="../../../public/icons/sort-alpha--col-pr.png" alt="Sort alphabetically icon" class="icon-sort-items icon-alpha" />
    <span class="sort-selection">Alphabetically</span>
  </div>
  <div id="li-type" class="dropdown-sort-items__li" data-sort="Item type">
    <img src="../../../public/icons/sort-prio--col-pr.png" alt="Sort alphabetically icon" class="icon-sort-items icon-alpha" />
    <span class="sort-selection">Item type</span>
  </div>
</div>
