/*** FONTS *****************************/
@font-face {
  font-family: 'Arizonia';
  src: url(../fonts/Arizonia-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist';
  src: url(../fonts/Urbanist-VariableFont_wght.ttf);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist Italic';
  src: url(../fonts/Urbanist-Italic-VariableFont_wght.ttf);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
