* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Urbanist', sans-serif;
}

:root {
  --primary: rgb(213, 207, 204);
  --prio1: rgb(197, 182, 173);
  --prio2: rgb(197, 182, 173);
  --prio3: rgb(197, 182, 173);
}

/*** HEADER ****************************/
header {
  display: flex;
  width: 100%;
  height: auto;
  font-family: 'Urbanist', sans-serif;
  color: white;
  background: var(--primary);
}
header h1 {
  padding: 0.5em 1em;
  font-size: 3rem;
  font-family: 'Arizonia', sans-serif;
  transition: transform 0.2s ease-in;
}
header h1:hover {
  cursor: pointer;
  animation: pulse 2s ease-in-out infinite alternate;
}
header nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
}
header nav .nav-link {
  margin: 0 1.7em;
  font-size: 1.6rem;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
header nav .nav-link:hover {
  transform: scale(1.1);
}

/*** PROJECT CARD ****************************/
#projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  width: 100%;
  margin: auto;
  padding: 2em;
  /* border: 1px solid black; */
}
.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33.333% - 2em);
  max-width: calc(33.333% - 2em);
  min-height: 50vh;
  margin-bottom: 2.5em;
  border: 2px solid var(--primary);
}
.project-card__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.7em;
  background: var(--primary);
}
.project-card__header h2,
.add-project h2 {
  padding: 0.1em;
  font-size: 1.6rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: normal;
  color: white;
}
.project-card__header input[type='text'] {
  width: 80%;
  padding: 0.1em;
  font-size: 1.6rem;
  font-family: 'Urbanist', sans-serif;
}
.project-card__header input[type='text']::placeholder {
  color: lightgray;
}
.project-card__header input[type='text']:active {
  color: var(--primary);
}
.project-card__header button {
  width: 1.2em;
  margin: 0 0.1em;
  font-size: 1.5rem;
  color: white;
  background: none;
  border: 2px solid white;
  cursor: pointer;
}
.project-card__header button:hover {
  transform: scale(1.1);
}
.project-card__body {
  padding: 1.5em 1.3em;
}

/*** PROJECT CARD SETTINGS DROPDOWN *********/
.settings-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  align-self: end;
  width: 60%;
  min-width: 50%;
  height: auto;
  min-height: 25%;
  margin-top: 4em; /* TEMPORARY FOR DEVELOPMENT */
  font-family: 'Urbanist', sans-serif;
  font-size: 1.2rem;
  color: white;
  background: var(--primary);
}
.settings-dropdown__li {
  padding: 0.4em;
  transition: all 0.2s ease-in;
}
.settings-dropdown__li:hover {
  color: var(--primary);
  background: white;
  cursor: pointer;
}
.settings-dropdown__li:active {
  color: white;
  background: var(--primary);
}

/*** ADD PROJECT ****************************/
.add-project {
  flex: 1 1 calc(33.333% - 2em);
  max-width: calc(33.333% - 2em);
  border: 2px dashed var(--primary);
  opacity: 0.2;
  transition: opacity 0.2s ease-in;
}
.add-project .project-card__header {
  background: var(--primary);
}
.add-project:hover {
  opacity: 1;
}
.add-project h2 {
  opacity: 0;
}
.add-project__body-wrapper,
.add-task__body-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin: auto;
}
.add-project__body,
.add-task__body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 0.9em;
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
  transition: transform 0.2s ease-in;
}
.add-project__body:hover,
.add-task__body:hover {
  transform: scale(1.01);
  opacity: 1;
  cursor: pointer;
}
.add-project__body h3,
.add-task__body h3 {
  font-size: 1.5rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: normal;
  color: white;
}
.add-project__body img {
  width: 25%;
  height: 25%;
}

/*** TO-DO CARD ****************************/
.todo-card {
  width: 100%;
  background: rgb(83, 172, 255);
  border: 3px solid rgb(83, 172, 255);
  border-radius: 0.9em;
  overflow: hidden;
}

/* TO-DO HEADER */
.todo-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5em;
  padding: 0.5em;
  padding-right: 0.8em;
  color: white;
  background: rgb(83, 172, 255);
  border: 0;
  border-radius: 0.9em 0.9em 0 0;
}
.todo-card__title-wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}
/* TO-DO HEADER CHECKBOX */
.todo-card__title-wrapper img {
  height: 1.5em;
}
.todo-card__title-wrapper img:hover {
  content: url(../../public/icons/checkbox.png);
  opacity: 0.5;
  cursor: pointer;
}
.todo-card__title-wrapper img:active {
  opacity: 1;
}
/* TO-DO HEADER TITLE */
.todo-card__title {
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.1em;
}
/* TO-DO HEADER BUTTONS */
.todo-card__buttons button {
  height: 2em;
  margin: 0 0.2em;
  padding: 0.05em;
  background: none;
  border: 2px solid white;
  border-radius: 0.5em;
  cursor: pointer;
}
.todo-card__buttons img {
  height: 1.5em;
}
.todo-card__buttons button:hover {
  transform: scale(1.1);
}

/* TO-DO BODY */
.todo-card__body {
  padding: 0.1em 0.7em;
  background: white;
}
/* TO-DO BODY PREVIEW */
.todo-card__preview {
  display: flex;
  gap: 1em;
  margin-top: 0.7em;
  padding-bottom: 0.7em;
  border-bottom: 2px solid rgba(83, 172, 255, 0.5);
}
/* TO-DO BODY DESCRIPTION */
.todo-card__description {
  padding: 0.3em 0.6em;
  font-size: 1rem;
  font-style: italic;
  color: rgb(62, 104, 143);
  border: 1px dashed rgba(83, 172, 255, 0.5);
  border-radius: 0.9em;
}
/* TO-DO BODY DUE DATE */
.todo-card__due-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  background: rgba(83, 172, 255, 0.5);
  border-radius: 0.9em;
}
.todo-card__due-date--number {
  font-size: 1.5rem;
  font-weight: 600;
}
/* TO-DO BODY CHECKLIST & NOTE */
.todo-card__checklist,
.todo-card__note {
  width: 100%;
  min-width: 50%;
  margin: 1em 0;
  padding: 0.5em 1em;
  background: rgb(83, 172, 255);
  border: 3px solid rgb(83, 172, 255);
  border-radius: 0.9em;
}
.todo-card__checklist-header,
.todo-card__note-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.3em;
}
.todo-card__checklist-title,
.todo-card__note-title {
  margin: 0 0 0.1em 0.7em;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: white;
}
.todo-card__checklist-body,
.todo-card__note-body {
  padding: 0.5em 1em;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  background: white;
  border: 1px solid rgb(83, 172, 255);
  border-radius: 0.9em;
}
.todo-card__checklist-body input[type='checkbox']:checked + label {
  text-decoration: line-through;
  color: rgb(163, 163, 163);
}

/* TO-DO BODY FOOTER */
.todo-card__footer {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
  padding: 0.7em 0.5em 0.3em;
}
.todo-card__creation-date {
  width: fit-content;
  padding: 0.1em 0.5em;
  font-size: 0.9rem;
  background: rgba(83, 172, 255, 0.3);
  border-radius: 0.9em;
}
.todo-card__footer img {
  height: 1.8em;
  margin-right: 1em;
}
.todo-card__footer img:hover {
  animation: levitate 2s ease-in-out infinite alternate;
  cursor: pointer;
}

/*** FONTS *****************************/
@font-face {
  font-family: 'Arizonia';
  src: url(../fonts/Arizonia-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist';
  src: url(../fonts/Urbanist-VariableFont_wght.ttf);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist Italic';
  src: url(../fonts/Urbanist-Italic-VariableFont_wght.ttf);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/*** HELPERS ***************************/
.hidden {
  display: none;
}

/*** PSUEDO ***************************/
::selection {
  background: rgb(255, 224, 177);
}

/*** ANIMATIONS ************************/
@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
