/*** COLORS ****************************/
/*** FONTS *****************************/
/*** FONT SIZES ************************/
/*** FONT STYLES ***********************/
/*** EFFECTS ***************************/
/*** BORDERS ***************************/
.task-form {
  width: 100%;
  margin-bottom: 1em;
  background: rgb(204, 223, 240);
  border: 1px solid rgb(204, 223, 240);
  border-radius: 0.9em;
  overflow: hidden;
}
.task-form .task-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em;
  color: white;
  background: rgb(204, 223, 240);
  border: 0;
  border-radius: 0.9em 0.9em 0 0;
  padding-right: 0.8em;
  padding-left: 0.8em;
}
.task-form .task-form__header .task-form__title-wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}
.task-form .task-form__header .task-form__title-wrapper .task-form__title-input {
  padding: 0.2em 0.5em;
  font-size: 1.25rem;
  font-family: "Urbanist", sans-serif;
  color: rgb(158, 158, 158);
  letter-spacing: 0.05em;
  border-radius: 0.9em;
  outline: none;
  font-size: 1.25rem;
  border: none;
}
.task-form .task-form__header .task-form__title-wrapper .task-form__title-input::placeholder {
  color: rgb(158, 158, 158);
}
.task-form .task-form__header .task-form__title-wrapper .task-form__title-input:focus::placeholder {
  color: rgba(158, 158, 158, 0.35);
}
.task-form .task-form__header .task-form__buttons .task-form__btn {
  width: 2em;
  height: 2em;
  margin: 0 0.1em;
  padding: 0.13em 0.06em;
  background: none;
  border: 1px solid white;
  border-radius: 0.5em;
  cursor: pointer;
}
.task-form .task-form__header .task-form__buttons .task-form__btn .task-form__btn--icon {
  height: 1.5em;
}
.task-form .task-form__header .task-form__buttons .task-form__btn .task-form__btn--icon:hover {
  transform: scale(1.05);
}
.task-form .task-form__header .task-form__buttons .task-form__btn .task-form__btn--icon:active {
  background: rgba(255, 255, 255, 0.5);
}
.task-form .task-form__header .task-form__buttons .task-form__btn:hover {
  box-shadow: 0 0 2px white;
}
.task-form .task-form__body {
  padding: 0.1em 0.7em;
  background: white;
}
.task-form .task-form__body .task-form__prio {
  display: flex;
  gap: 0.5em;
  margin-top: 0.7em;
  padding: 0.4em 0.6em;
  color: rgb(158, 158, 158);
  background: rgba(204, 223, 240, 0.5);
  border-radius: 0.9em;
}
.task-form .task-form__body .task-form__prio .task-form__prio-buttons {
  display: flex;
  gap: 0.5em;
}
.task-form .task-form__body .task-form__prio .task-form__prio-buttons .prio-btn {
  margin: 0 0.1em;
  padding: 0.1em 0.5em;
  font-family: "Urbanist", sans-serif;
  color: white;
  background: rgb(213, 207, 204);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.task-form .task-form__body .task-form__prio .task-form__prio-buttons .prio-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px white;
}
.task-form .task-form__body .task-form__prio .task-form__prio-buttons .prio-top-btn {
  background: rgb(232, 214, 214);
}
.task-form .task-form__body .task-form__prio .task-form__prio-buttons .prio-mid-btn {
  background: rgb(215, 232, 221);
}
.task-form .task-form__body .task-form__prio .task-form__prio-buttons .prio-low-btn {
  background: rgb(204, 223, 240);
}
.task-form .task-form__body .task-form__prio .task-form__prio-buttons .prio-none-btn {
  background: rgba(213, 207, 204, 0.5);
}
.task-form .task-form__body .task-form__body-top {
  width: 100%;
  display: flex;
  gap: 1em;
  margin-top: 0.7em;
  padding-bottom: 0.7em;
  background: white;
}
.task-form .task-form__body .task-form__body-top textarea {
  width: 100%;
  padding: 0.35em 0.6em;
  font-size: 1rem;
  font-style: italic;
  color: rgb(158, 158, 158);
  border: 1px dashed rgb(186, 203, 219);
  border-radius: 0.9em;
}
.task-form .task-form__body .task-form__body-top textarea:focus {
  width: 100%;
  padding: 0.35em 0.6em;
  font-size: 1rem;
  font-style: italic;
  color: rgb(158, 158, 158);
  border: 1px dashed rgb(186, 203, 219);
  border-radius: 0.9em;
  color: rgba(213, 207, 204, 0.5);
  outline: none;
}
.task-form .task-form__body .task-form__body-top textarea::placeholder {
  color: rgb(158, 158, 158);
}
.task-form .task-form__body .task-form__body-top textarea:focus::placeholder {
  color: rgb(213, 207, 204);
}
.task-form .task-form__body .task-form__body-top .task-form__description {
  width: 100%;
  padding: 0.35em 0.6em;
  font-size: 1rem;
  font-style: italic;
  color: rgb(158, 158, 158);
  border: 1px dashed rgb(186, 203, 219);
  border-radius: 0.9em;
}
.task-form .task-form__body .task-form__body-top .task-form__due-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  color: rgb(158, 158, 158);
  background: rgba(204, 223, 240, 0.5);
  border-radius: 0.9em;
}
.task-form .task-form__body .task-form__body-top .task-form__due-date .task-card__due-date--number {
  font-size: 1.5rem;
  font-weight: 600;
}

/*# sourceMappingURL=task-form.css.map */
