/** FORM HEADER **************************/
.todo-form__title-wrapper {
  height: fit-content;
}
.todo-form__title-input {
  font-size: 1.25rem;
}
/*****************************************/

/** FORM PRIO BUTTONS ********************/
.todo-form__prio {
  display: flex;
  gap: 0.5em;
  margin-top: 0.7em;
  padding: 0.4em 0.6em;
  color: var(--color-secondary);
  background: var(--prio3-light);
  border-radius: 0.9em;
}
.todo-form__prio-buttons {
  display: flex;
  gap: 0.5em;
}

.prio-btn {
  margin: 0 0.1em;
  padding: 0.1em 0.5em;
  font-family: var(--font-body);
  color: white;
  background: var(--primary);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.prio-btn:hover {
  transform: scale(1.1);
  box-shadow: var(--box-glow);
}

.todo-form__prio-buttons .prio-top-btn {
  background: var(--prio1);
}
.todo-form__prio-buttons .prio-mid-btn {
  background: var(--prio2);
}
.todo-form__prio-buttons .prio-low-btn {
  background: var(--prio3);
}
.todo-form__prio-buttons .prio-none-btn {
  background: var(--primary-op);
}
/*****************************************/

/** FORM DESCRIPTION *********************/
.todo-form__description-input input[type='text'] {
  padding: 0.3em 0.6em;
  font-size: 1rem;
  font-style: italic;
  color: var(--color-secondary);
  border: 1px dashed var(--prio3-dark);
  border-radius: 0.9em;
}
/*****************************************/
