<!-- TO-DO CARD CHECKLIST OPTION -->
<div class="task-card__checklist">
  <div class="task-card__checklist-header">
    <div class="task-card__checklist-title">{#CHECKLIST_TITLE#}</div>
    <div class="task-card__buttons">
      <button class="task-card__btn btn-add-task">
        <img src="./public/icons/edit.png" alt="Edit task" class="task-card__btn--icon" />
      </button>
      <button class="task-card__btn btn-settings">
        <img src="./public/icons/delete.png" alt="Delete task" class="task-card__btn--icon" />
      </button>
    </div>
  </div>
  <div class="task-card__checklist-body">
    <div class="task-card__checklist-item">
      <input type="checkbox" name="{#CHECKLIST_NAME#}" id="{#CHECKLIST_ID#}" />
      <label for="{#CHECKLIST_ID#}">{#CHECKLIST_VALUE#}</label>
    </div>
    <div class="task-card__checklist-item">
      <input type="checkbox" name="{#CHECKLIST_NAME#}" id="{#CHECKLIST_ID#}" />
      <label for="{#CHECKLIST_ID#}">{#CHECKLIST_VALUE#}</label>
    </div>
    <div class="task-card__checklist-item">
      <input type="checkbox" name="{#CHECKLIST_NAME#}" id="{#CHECKLIST_ID#}" />
      <label for="{#CHECKLIST_ID#}">{#CHECKLIST_VALUE#}</label>
    </div>
  </div>
</div>
