<!-- TO-DO CARD CHECKLIST OPTION -->
<div class="todo-card__checklist">
  <div class="todo-card__checklist-header">
    <div class="todo-card__checklist-title">Checklist title</div>
    <div class="todo-card__buttons">
      <button class="btn-add-task">
        <img src="./public/icons/edit.png" alt="Edit task" />
      </button>
      <button class="btn-settings">
        <img src="./public/icons/delete.png" alt="Delete task" />
      </button>
    </div>
  </div>
  <div class="todo-card__checklist-body">
    <div class="todo-card__checklist-item">
      <input type="checkbox" name="{LISTNAME}" id="{LISTID}" />
      <label for="{LISTID}">Some task</label>
    </div>
    <div class="todo-card__checklist-item">
      <input type="checkbox" name="{LISTNAME}" id="{LISTID}" />
      <label for="{LISTID}">Some task</label>
    </div>
    <div class="todo-card__checklist-item">
      <input type="checkbox" name="{LISTNAME}" id="{LISTID}" />
      <label for="{LISTID}">Some task</label>
    </div>
  </div>
</div>
