<!-- TO-DO CARD (nested) ------------------------------------------>
<div class="todo-card">
  <!-- TO-DO CARD HEADER ------------------------------------------>
  <div class="todo-card__header">
    <div class="todo-card__title-wrapper">
      <img src="./public/icons/checkbox-blank.png" alt="Blank checkbox" class="checkbox" />
      <div class="todo-card__title">Card Title</div>
    </div>
    <div class="todo-card__buttons">
      <button class="btn-add-task">
        <img src="./public/icons/edit.png" alt="Edit task" />
      </button>
      <button class="btn-settings">
        <img src="./public/icons/delete.png" alt="Delete task" />
      </button>
    </div>
  </div>
  <!-- END OF TO-DO CARD HEADER ----------------------------- X -->

  <!-- TO-DO CARD BODY ------------------------------------------->
  <div class="todo-card__body">
    <!-- TO-DO CARD PREVIEW -------------------------------------->
    <div class="todo-card__preview">
      <div class="todo-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <div class="todo-card__due-date">
        <span class="todo-card__due-date--number">2</span>
        <span class="todo-card__due-date--unit">days</span>
      </div>
    </div>
    <!-- END OF TO-DO CARD PREVIEW -------------------------- X -->

    <!-- TO-DO FOOTER --------------------------------------------->
    <div class="todo-card__footer">
      <div class="todo-card__creation-date">Created: 10/02/2024</div>
      <img src="./public/icons/arrow-dropdown.png" alt="Expand button" class="expand-btn" />
    </div>
    <!-- END OF TO-DO FOOTER --------------------------------- X -->
  </div>
</div>
<!-- END OF TO-DO CARD BODY ---------------------------------- X -->
