////////_________N O T E  S T Y L E S_________////////

@use '../utilities/mixins';
@use '../utilities/vars';

.note {
  @include mixins.item;

  ///////____________H E A D E R_____________///////
  .note__header {
    @include mixins.item-header;

    //__T I T L E_________________________________//
    .note__title {
      @include mixins.item-title;
    }

    //__I N P U T  T I T L E______________________//
    .note__input-title {
      @include mixins.input-text;

      &::placeholder {
        @include mixins.input-text-placeholder;
      }
      &:focus::placeholder {
        @include mixins.input-text-focus-placeholder;
      }
    }

    //__B U T T O N S_____________________________//
    .note__buttons {
      @include mixins.buttons-action-bar('note');
      display: flex;
      gap: 0.3em;
    }
  } //_______________________________ HEADER [x] _//

  ///////______________B O D Y_______________///////
  .note__body {
    @include mixins.item-body;

    //__B U T T O N S :  F O R M A T T I N G______//
    .note__formatting-buttons {
      display: flex;
      justify-content: space-evenly;
      gap: 0.3em;
      min-width: fit-content;
      margin: 0.2em 0 0.3em 0;
      padding: 0.3em 0.3em;
      background: vars.$col-primary-low-op;
      border-radius: 0.5em;

      .btn-formatting {
        @include mixins.btn-tiny(vars.$col-primary);
        width: 1.8em;
        height: 1.8em;

        .btn-formatting--icon {
          height: 100%;
        }
      }
      .btn-formatting:hover {
        @include mixins.btn-hover(1.03);
        background: vars.$col-primary-dark-op;
      }
      .btn-formatting--active {
        background: vars.$col-primary-dark;
      }
    } //____________________ FORMATTING BTNS [x] _//

    //__P O P U P :  L I N K______________________//
    .popup-insert-link {
      @include mixins.modal-container;
      display: flex;
      flex-direction: column;
      gap: 0.3em;
      position: absolute;
      width: 100%;
      min-width: fit-content;
      padding: 1em;
      border: 1px solid vars.$col-primary;
      box-shadow: 0 0 0.5em vars.$col-primary-dark;
      z-index: 10000;

      // INPUT (POPUP) //
      .popup-insert-link__label {
        margin-left: 0.6em;
      }
      .popup-insert-link__input {
        @include mixins.input-text;
        font-size: 1rem;
        font-style: italic;
        outline: none;
        border: 1px solid vars.$col-primary;
      }
      .popup-insert-link__input:focus {
        box-shadow: 0 0 0.1em vars.$col-primary-dark;
      }

      // POPUP BUTTONS //
      .popup-insert-link__buttons {
        display: flex;
        justify-content: end;
        gap: 0.2em;
        padding: 0.3em 0.5em 0 0;
        width: 100%;

        .btn-popup {
          padding: 0 0.5em;
          font-size: 0.8rem;
          background: vars.$col-primary-op;
          border: none;
          border-radius: vars.$br-primary;
        }
        .btn-apply:hover {
          background: vars.$col-prio2;
        }
        .btn-cancel:hover {
          background: vars.$col-prio1;
        }
        .btn-popup:hover {
          @include mixins.btn-hover;
        }
      }
    } //__________________________ POPUP LINK [x] _//

    //__E D I T O R_______________________________//
    .note-editor {
      width: 100%;
      min-height: 5em;
      max-height: 10em;
      padding: 0.35em 0.6em;
      font-size: 1rem;
      color: vars.$col-secondary;
      border: 1px dashed vars.$col-primary;
      border-radius: 0.5em;
      outline: none;
      cursor: text;
      overflow-y: auto;

      &:focus {
        color: vars.$col-secondary;
        border: 1px dashed vars.$col-primary-dark;
        outline: none;
      }
    } //_____________________________ EDITOR [x] _//

    //__Q U I L L  E D I T O R____________________//
    .ql-editor {
      height: 100%;
      outline: none;

      .ql-editor--link {
        color: vars.$col-primary;
      }
      .ql-editor--link:hover {
        color: white;
        background: vars.$col-primary;
      }
    } //______________________ QUILL EDITOR [x] _//
  } //___________________________ NOTE BODY [x] _//
} //__________________________________ NOTE [x] _//

//#region Discarded
// NOTE FORM //
// .task-form__note {
//   @include mixins.item;
//   min-width: fit-content;

//   // HEADER //
//   .task-form__note-header {
//     @include mixins.item-header;

//     // INPUT (HEADER)
//     .task-form__note-input-title {
//       @include mixins.input-text;
//       margin-bottom: 0.1em;
//       border: none;
//     }
//     .task-form__note-input-title::placeholder {
//       @include mixins.input-text-placeholder;
//     }
//     .task-form__note-input-title:focus::placeholder {
//       @include mixins.input-text-focus-placeholder;
//     }
//     .task-form__note-title {
//       @include mixins.item-title;
//     }

//     // BUTTONS (HEADER) //
//     .task-form__note-buttons {
//       @include mixins.buttons-action-bar('task-form');
//     }
//   }

//   //  BODY //
//   .task-form__note-body {
//     @include mixins.item-body;
//     position: relative;
//     font-size: 1rem;

//     // // FORMATTING BUTTONS (BODY) //
//     // .note-body__formatting-buttons {
//     //   display: flex;
//     //   justify-content: space-evenly;
//     //   gap: 0.3em;
//     //   min-width: fit-content;
//     //   margin: 0.2em 0 0.3em 0;
//     //   padding: 0.3em 0.3em;
//     //   background: vars.$col-primary-low-op;
//     //   border-radius: 0.5em;

//     //   .btn-formatting {
//     //     @include mixins.btn-tiny(vars.$col-primary);
//     //     width: 1.8em;
//     //     height: 1.8em;

//     //     .btn-formatting--icon {
//     //       height: 100%;
//     //     }
//     //   }
//     //   .btn-formatting:hover {
//     //     @include mixins.btn-hover(1.03);
//     //     background: vars.$col-primary-dark-op;
//     //   }
//     //   .btn-formatting--active {
//     //     background: vars.$col-primary-dark;
//     //   }
//     // }
//   } //////////////////////////////////
// }
//#endregion
