@use '../utilities/vars';
@use '../utilities/mixins';
@use './task-mixins';

//// TASK CARD /////////////////////////////
.task-card {
  @include task-mixins.card;

  // HEADER (TASK CARD) //
  .task-card__header {
    @include task-mixins.header;
    padding-right: 0.8em;

    // TITLE & CHECKBOX (HEADER) //
    .task-card__title-wrapper {
      @include task-mixins.title-wrapper;

      .checkbox {
        height: 1.5em;
      }
      .checkbox:hover {
        content: url(../../../public/icons/checkbox.png);
        opacity: 0.5;
        cursor: pointer;
      }
      .checkbox:active {
        opacity: 1;
      }
      .task-card__title {
        font-size: 1.25em;
        letter-spacing: 0.1em;
      }
    }

    // BUTTONS (HEADER) //
    .task-card__buttons {
      @include task-mixins.buttons-header('card');
    }
  } // [X] END OF HEADER [X]

  // BODY //
  .task-card__body {
    @include task-mixins.body;

    // BODY TOP (BODY) //
    .task-card__body-top {
      @include task-mixins.body-top;

      // DESCRIPTION (BODY TOP) //
      .task-card__description {
        @include task-mixins.description;
      }

      // DUE DATE (BODY TOP) //
      .task-card__due-date {
        @include task-mixins.due-date;

        .task-card__due-date--number {
          @include task-mixins.due-date-val;
        }
      }
    } // [X] END OF TOP SECTION [X]

    // FOOTER (BODY) //
    .task-card__footer {
      @include mixins.item-footer;
      padding: 0.2em 0.5em 0;

      // CREATION DATE (FOOTER) //
      .task-card__creation-date {
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 0.1em 0.5em;
        font-size: 0.8rem;
        color: vars.$col-secondary;
        background: vars.$col-prio3-light;
        border-radius: 0.9em;
      }

      .expand-btn {
        height: 1.8em;
        margin-right: 1em;
      }
      .expand-btn:hover {
        animation: levitate 2s ease-in-out infinite alternate;
        cursor: pointer;
      }
    }
  } // [X] END OF BODY [X]
} // [X] END OF TASK CARD [X]
