@use '../utilities/mixins';
@use '../utilities/vars';

.task-form {
  @include mixins.card;

  // HEADER (FORM) //
  .task-form__header {
    @include mixins.header;
    padding-right: 0.8em;
    padding-left: 0.8em;

    .task-form__title-wrapper {
      @include mixins.title-wrapper;
      flex-grow: 1;
      flex-shrink: 1;

      .task-form__title-input {
        @include mixins.input-text(vars.$col-secondary);
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        font-size: 1.25rem;
        border: none;
      }
      .task-form__title-input::placeholder {
        @include mixins.input-text-placeholder;
      }
      .task-form__title-input:focus::placeholder {
        @include mixins.input-text-focus-placeholder;
      }
    }

    // BUTTONS (HEADER) //
    .task-form__buttons {
      @include mixins.buttons-header('form');
    }
  } // [X] END OF HEADER [X]

  // BODY (FORM //
  .task-form__body {
    @include mixins.body;

    // PRIO SELECTION (BODY) //
    .task-form__prio {
      display: flex;
      gap: 1em;
      justify-content: center;
      margin-bottom: 0.7em;
      padding: 0.4em 1em;
      color: vars.$col-secondary;
      background: vars.$col-primary-low-op;
      border-radius: vars.$br-primary;

      // PRIO BUTTONS (PRIO) //
      .task-form__prio-buttons {
        display: flex;
        gap: 0.5em;

        .prio-btn {
          margin: 0 0.1em;
          padding: 0.1em 0.5em;
          font-family: vars.$font-body;
          color: white;
          background: vars.$col-primary;
          border: none;
          border-radius: 0.5em;
          cursor: pointer;
          transition: all 0.1s ease-in;
        }
        .prio-btn:hover {
          transform: scale(1.1);
          box-shadow: vars.$box-glow;
        }
        .prio-top-btn {
          background: vars.$col-prio1;
        }
        .prio-mid-btn {
          background: vars.$col-prio2;
        }
        .prio-low-btn {
          background: vars.$col-prio3;
        }
        .prio-none-btn {
          background: vars.$col-primary-op;
        }
      }
    } // [X] END OF PRIO [X]

    // BODY TOP (BODY) //
    .task-form__body-top {
      @include mixins.body-top;

      // DESCRIPTION TEXT AREA (BODY TOP) //
      textarea {
        @include mixins.description;
        min-height: calc(1.5rem * 3);
        resize: vertical;
      }
      textarea:focus {
        @include mixins.description;
        color: vars.$col-secondary;
        outline: none;
      }
      textarea::placeholder {
        color: vars.$col-secondary;
      }
      textarea:focus::placeholder {
        color: vars.$col-primary;
      }

      // DESCRIPTION (BODY TOP) //
      .task-form__description {
        @include mixins.description;
      }

      // DUE DATE BUTTON (BODY TOP) //
      .task-form__btn-due-date {
        @include mixins.due-date(vars.$col-primary-low-op);
        text-align: center;
        transition: vars.$ease-in;

        .icon-calendar {
          width: 80%;
        }
      }

      // DUE DATE (BODY TOP) //
      .task-form__due-date {
        @include mixins.due-date;
        transition: vars.$ease-in;

        .task-form__due-date--date {
          @include mixins.due-btn-date;
        }
        .task-form__due-date--month {
          @include mixins.due-btn-month;
        }
        .task-form__due-date--year {
          @include mixins.due-btn-year;
        }
      }
      .task-form__btn-due-date:hover,
      .task-form__due-date:hover {
        color: white;
        background: vars.$col-primary;
        transform: scale(1.02);
        cursor: pointer;
      }
    } // [X] END OF BODY TOP [X]

    .task-form__add-item-buttons {
      display: flex;
      justify-content: space-between;
      gap: 0.5em;
      margin: 0.5em 0;

      .btn-add-item {
        @include mixins.btn-medium;
        min-width: calc(50% - 0.5em);
      }
      .btn-add-item:hover {
        @include mixins.btn-medium-hover;
      }
    }
  } // [X] END OF BODY [X]
  // FOOTER //
  .task-form__footer {
    @include mixins.item-footer;
    background: white;

    .task-form__footer--buttons {
      display: flex;
      justify-content: end;
      gap: 0.5em;
      width: 100%;
      padding: 0.5em;
      background: vars.$col-primary-low-op;

      .btn-form-footer {
        @include mixins.btn-small;
      }
      .btn-form-footer:hover {
        @include mixins.btn-hover(1.05);
      }
      .btn-cancel:hover {
        background: vars.$col-prio1;
      }
      .btn-save:hover {
        background: vars.$col-prio2;
      }
    }
  }
} // [X] END OF TASK FORM [X]
