@use '../utilities/vars';
@use '../utilities/mixins';
@use '../utilities/mixins-buttons';

// CHECKLIST //
.checklist {
  @include mixins.item;

  // HEADER (CHECKLIST) //
  .checklist__header {
    @include mixins.item-header;

    .checklist__title {
      @include mixins.item-title;
      // margin-right: 0.4em;
    }
    .checklist__input-title {
      @include mixins.input-text(vars.$col-secondary, 1.25em);
      margin-bottom: 0.1em;
      border: none;

      &::placeholder {
        @include mixins.input-text-placeholder;
      }
      &:focus::placeholder {
        @include mixins.input-text-focus-placeholder;
      }
    }

    // BUTTONS (HEADER) //
    .checklist__buttons {
      @include mixins.buttons-action-bar('checklist');
    }
  }

  // BODY (CHECKLIST) //
  .checklist__body {
    @include mixins.item-body($pad: 0.5em);
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    .checklist__body--unchecked {
      padding: 0 0.5em 0 0.3em;
    }
    .checklist__body--checked-wrapper {
      margin-top: 0.2em;
      padding: 0 0.5em 0 0.3em;
      background: vars.$col-primary-xlow-op;
      border-radius: vars.$br-primary;
      opacity: 0.6;

      .checklist__body--checked-heading {
        margin: 0.2em 0 0 0.3em;
      }
    }

    // LIST ITEM (BODY)
    .checklist__item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      // LIST ITEM (BODY) //
      .checklist__item-content--input,
      .checklist__item-content--value {
        display: flex;
        gap: 0.25em;
        padding: 0 0.3em;

        .checklist__item-checkbox:checked + label {
          text-decoration: line-through;
          color: vars.$col-primary-dark-op;
        }

        // LI INPUT //
        .checklist__item-input {
          @include mixins.input-text($fs: 1rem);
          border: 1px solid vars.$col-primary-low-op;
          width: 100%;
          padding: 0.1em 0.5em;

          &:focus {
            @include mixins.input-text-focus;
            border: 1px solid vars.$col-primary-op;
            box-shadow: 0 0 2px vars.$col-primary-op;
          }
          &::placeholder {
            @include mixins.input-text-placeholder;
          }
          &:focus::placeholder {
            @include mixins.input-text-focus-placeholder;
          }
        }

        // LI VALUE (LABEL) //
        .checklist__item-value {
          padding: 0.1em 0.5em;
          font-size: 1rem;
          letter-spacing: vars.$ls-title;
          cursor: text;
        }
      }

      .btn-delete-li {
        @include mixins.btn-tiny;
      }
      .btn-delete-li img {
        height: 100%;
      }
      .btn-delete-li:hover {
        @include mixins.btn-hover;
        background: vars.$col-primary-op;
      }
    }

    // ADD LIST ITEM BTN //
    .btn-add-li {
      @include mixins.btn-small(vars.$col-secondary, vars.$col-primary-low-op);
      margin-top: 0.5em;
    }
    .btn-add-li:hover {
      @include mixins.btn-hover(1.03);
      color: white;
      background: vars.$col-primary;
    }
  }
}
// // CHECKLIST //
// .task-form__checklist,
// .task-card__checklist {
//   @include mixins.item;

//   // HEADER (CHECKLIST) //
//   .task-form__checklist-header,
//   .task-card__checklist-header {
//     @include mixins.item-header;

//     .input-title {
//       @include mixins.input-text(vars.$col-secondary);
//       margin-bottom: 0.1em;
//       font-size: 1.2rem;
//       border: none;
//     }
//     .input-title::placeholder {
//       @include mixins.input-text-placeholder;
//     }
//     .input-title:focus::placeholder {
//       @include mixins.input-text-focus-placeholder;
//     }

//     .task-form__checklist-title,
//     .task-card__checklist-title {
//       @include mixins.item-title;
//     }
//     // BUTTONS (HEADER) //
//     .task-form__checklist-buttons {
//       @include mixins.buttons-header('form');
//     }
//     .task-card__checklist-buttons {
//       @include mixins.buttons-header('card');
//     }
//   }

//   // BODY (CHECKLIST) //
//   .task-form__checklist-body,
//   .task-card__checklist-body {
//     @include mixins.item-body;
//     display: flex;
//     flex-direction: column;
//     gap: 0.3em;

//     // LIST ITEM (BODY)
//     .checklist-item--form,
//     .task-card__checklist-item {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;

//       // LIST ITEM (BODY) //
//       .checklist-item__wrapper {
//         display: flex;
//         align-items: center;
//         gap: 0.3em;

//         .checklist-item__checkbox:checked + label,
//         .checklist-item__checkbox:checked + label {
//           text-decoration: line-through;
//           color: vars.$col-primary-dark-op;
//         }
//       }

//       // LIST TEXT INPUT (BODY) //
//       .checklist-item__value-input {
//         @include mixins.input-text($fs: 1rem);
//         margin-left: 0.25em;
//         border: 1px solid vars.$col-primary-low-op;
//       }
//       .checklist-item__value-input:focus {
//         @include mixins.input-text-focus;
//         border: 1px solid vars.$col-primary-op;
//         box-shadow: 0 0 2px vars.$col-primary-op;
//         transform: scale(1.01);
//       }
//       .checklist-item__value-input::placeholder {
//         @include mixins.input-text-placeholder;
//       }
//       .checklist-item__value-input:focus::placeholder {
//         @include mixins.input-text-focus-placeholder;
//       }

//       // LIST ITEM LABEL (BODY) //
//       .checklist-item__value {
//         margin-left: 0.75em;
//       }
//       .checklist-item__value:hover {
//         cursor: text;
//       }

//       .checklist-item__delete-btn {
//         @include mixins.btn-tiny;
//       }
//       .checklist-item__delete-btn img {
//         height: 100%;
//       }
//       .checklist-item__delete-btn:hover {
//         @include mixins.btn-hover;
//         background: vars.$col-primary-op;
//       }
//     }
//     .checklist-item--hover {
//       background: vars.$col-primary-low-op;
//     }

//     // ADD LIST ITEM BTN //
//     .btn-add-checklist-item {
//       @include mixins.btn-small(vars.$col-secondary, vars.$col-primary-low-op);
//       margin-top: 0.5em;
//     }
//     .btn-add-checklist-item:hover {
//       @include mixins.btn-hover(1.03);
//       color: white;
//       background: vars.$col-primary;
//     }
//   }
// }
