@use '../utilities/vars';
@use '../utilities/mixins';
@use './task-mixins';

//// TASK CARD /////////////////////////////
.task {
  width: 100%;
  margin-bottom: 1em;
  background: vars.$col-primary-low-op;
  border: 1px solid vars.$col-primary-low-op;
  border-radius: 0.9em;
  box-shadow: 0 0 5px vars.$col-primary;

  overflow: hidden;
  transition: transform 0.3s ease;

  // HEADER (TASK CARD) //
  .task-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    padding-right: 0.8em;
    color: white;
    background: vars.$col-primary-low-op;
    border: 0;
    border-radius: 0.9em 0.9em 0 0;

    // TITLE & CHECKBOX (HEADER) //
    .task-header__title-wrapper {
      display: flex;
      align-items: center;
      column-gap: 0.1em;

      // CHECKBOX (HEADER) //
      .task-header__checkbox {
        height: 1.5em;
        transition: opacity 0.2s ease; // for title edit effect

        &:hover {
          content: url(../../../public/icons/checkbox.png);
          opacity: 0.5;
          cursor: pointer;
        }
        &:active {
          opacity: 1;
        }
      }
      .task-header__checkbox--no-hover {
        height: 1.5em;
        transition: opacity 0.2s ease;
        cursor: not-allowed;
      }

      // TITLE (HEADER) //
      .task-header__title {
        margin-right: 0.4em;
        padding: 0.1em 0.5em;
        font-size: 1.25em;
        letter-spacing: vars.$ls-title;
      }

      // INPUT TITLE (HEADER) //
      .task-header__input {
        @include mixins.input-text($fs: 1.25em);

        &:focus {
          @include mixins.input-text-focus;
        }
        &::placeholder {
          @include mixins.input-text-placeholder;
        }
        &:focus::placeholder {
          @include mixins.input-text-focus-placeholder;
        }
      }
    }

    // BUTTONS (HEADER) //
    .task-header__buttons {
      display: flex;
      gap: 0.3em;

      .task-header__btn {
        width: 2em;
        height: 2em;
        padding: 0.13em 0.06em;
        background: none;
        border: 1px solid white;
        border-radius: 0.5em;
        cursor: pointer;
        transition: vars.$transform-ease-in;

        &:hover {
          transform: scale(1.05);
          box-shadow: vars.$box-glow-mid;
          cursor: pointer;
        }

        .task-header__btn--icon {
          width: 100%;
          height: 100%;
        }
      }
    }
  } // [X] END OF HEADER [X]

  // BODY //
  .task-body {
    padding: 0.6em 0.7em;
    background: white;

    // PRIO SELECTION (BODY) //
    .task-prio {
      display: flex;
      gap: 1em;
      justify-content: center;
      margin-bottom: 0.7em;
      padding: 0.4em 1em;
      color: vars.$col-secondary;
      background: vars.$col-primary-low-op;
      border-radius: vars.$br-primary;

      // PRIO BUTTONS (PRIO) //
      .task-prio__buttons {
        display: flex;
        gap: 0.5em;

        .task-prio__btn {
          margin: 0 0.1em;
          padding: 0.1em 0.5em;
          font-family: vars.$font-body;
          color: white;
          background: vars.$col-primary;
          border: none;
          border-radius: 0.5em;
          cursor: pointer;
          transition: all 0.1s ease-in;

          &:hover {
            transform: scale(1.1);
            box-shadow: vars.$box-glow;
          }
        }

        .prio-top-btn {
          background: vars.$col-prio1;
        }
        .prio-mid-btn {
          background: vars.$col-prio2;
        }
        .prio-low-btn {
          background: vars.$col-prio3;
        }
        .prio-none-btn {
          background: vars.$col-primary-op;
        }
      }
    } // [X] END OF PRIO [X]

    // BODY TOP (BODY) //
    .task-body__top {
      width: 100%;
      display: flex;
      gap: 1em;
      margin-top: 0.7em;
      padding-bottom: 0.7em;
      background: white;

      // DESCRIPTION (BODY TOP) //
      .task-description {
        @include mixins.description;
      }
      .task-description--default {
        color: vars.$col-primary-op;
      }

      // DESCRIPTION TEXT AREA (BODY TOP) //
      .task-description__textarea {
        @include mixins.description;
        min-height: calc(1.5rem * 3);
        resize: vertical;

        &:focus {
          @include mixins.description;
          color: vars.$col-secondary;
          outline: none;
        }
        &::placeholder {
          color: vars.$col-secondary;
        }
        &:focus::placeholder {
          color: vars.$col-primary;
        }
      }

      // DUE DATE BUTTON (BODY TOP) //
      .task-due {
        @include mixins.due-date(vars.$col-primary-low-op);
        text-align: center;
        transition: vars.$ease-in;

        .task-due--icon {
          width: 80%;
        }

        &:hover {
          color: white;
          background: vars.$col-primary;
          transform: scale(1.02);
          cursor: pointer;
        }
      }

      // DUE DATE (BODY TOP) //
      .task-due--text {
        @include mixins.due-date;
        transition: vars.$ease-in;

        .task-due__small-top {
          font-size: 0.7rem;
          text-transform: uppercase;
        }
        .task-due__big {
          margin: 0.1em 0;
          font-size: 2rem;
          font-weight: 600;
        }
        .task-due__small-bottom {
          font-size: 0.8rem;
        }
      }
    } // [X] END OF TOP SECTION [X]

    // ADD ITEM BUTTONS (BODY) //
    .task-add-item {
      display: flex;
      justify-content: space-between;
      gap: 0.5em;
      margin: 0.5em 0 0.7em;

      .task-add-item__btn {
        @include mixins.btn-medium;
        min-width: calc(50% - 0.5em);
      }
      .task-add-item__btn:hover {
        @include mixins.btn-medium-hover;
      }
    }

    // SORT BUTTON (BODY) //
    .task-sort {
      position: relative;
      display: flex;
      gap: 0.5em;
      align-items: center;
      justify-content: end;
      margin-bottom: 0.7em;
      padding: 0.3em 0.6em;
      font-size: 0.9rem;
      background: vars.$col-primary-xlow-op;
      border-radius: vars.$br-primary;

      .task-sort__selection {
        display: flex;
        gap: 0.3em;
        align-items: center;
        justify-content: center;
        min-width: 40%;
        padding: 0.05em 0.4em;
        font-size: 0.9rem;
        background: white;
        border: 1px solid vars.$col-primary-op;
        border-radius: vars.$br-primary;
        transition: all 0.1s ease-in;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 2px vars.$col-primary-dark;
          border: 1px solid vars.$col-primary-low-op;
        }

        .task-sort__selection-icon {
          width: 1em;
        }
      }
      .task-sort__swap-btn {
        @include mixins.btn-tiny(vars.$col-primary-op);
        cursor: pointer;

        &:hover {
          background: vars.$col-primary-dark-op;
        }
        &:active {
          background: vars.$col-primary-op;
        }

        .task-sort__swap-btn-icon {
          height: 100%;
        }
      }
    }
  } // [X] END OF BODY [X]

  // FOOTER //
  .task-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.2em 0.5em 0;

    // SAVE & DELETE (FORM) //
    .task-footer__buttons {
      display: flex;
      justify-content: end;
      gap: 0.5em;
      width: 100%;
      padding: 0.5em 1em;
      // background: vars.$col-primary-low-op;

      .task-footer__btn {
        @include mixins.btn-small;
        margin: 0.1em 0;
      }
      .task-footer__btn:hover {
        @include mixins.btn-hover(1.05);
      }
      .task-footer__btn--cancel:hover {
        background: vars.$col-prio1;
      }
      .task-footer__btn--save:hover {
        background: vars.$col-prio2;
      }
    }
  }
  .task-footer--created {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.4em 0.15em 0.4em 1em;
    font-size: 0.7rem;
    background: rgba(255, 255, 255, 0.3);

    // CREATION DATE (FOOTER) //
    .task-footer__created {
      display: flex;
      align-items: center;
      width: fit-content;
      padding: 0 0.5em;
      color: vars.$col-primary-dark-op;
      background: vars.$col-primary-low-op;
      border-radius: 0.9em;
      transform: vars.$ease-in;
    }
    .task-footer__created:hover {
      color: vars.$col-primary-dark;
      background: vars.$col-primary-op;
      transform: scale(1.01);
    }

    .task-footer__expand-btn {
      height: 1.8em;
      margin-right: 1em;
    }
    .task-footer__expand-btn:hover {
      animation: levitate 2s ease-in-out infinite alternate;
      cursor: pointer;
    }
  }
} // [X] END OF TASK CARD [X]

//// SORT ITEMS DROPDOWN /////////////////////////////
.dropdown-sort-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: fit-content;
  background: white;
  border: 1px solid vars.$col-primary-op;
  border-radius: vars.$br-primary;
  font-size: 0.9rem;
  cursor: pointer;

  // DROPDOWN ITEMS //
  .icon-sort-items {
    width: 1.5em;
  }
  .dropdown-sort-items__li {
    display: flex;
    gap: 0.5em;
    align-items: center;
    width: 100%;
    padding: 0 0.7em;
    font-size: 0.9rem;

    &:hover {
      background: vars.$col-primary-xlow-op;
    }
    &:active {
      color: white;
      background: vars.$col-primary-low-op;
    }
  }
  #li-created {
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    &:hover {
      border-top-right-radius: vars.$br-primary;
      border-top-left-radius: vars.$br-primary;
    }
  }
  #li-type {
    padding-top: 0.25em;
    padding-bottom: 0.5em;

    &:hover {
      border-bottom-right-radius: vars.$br-primary;
      border-bottom-left-radius: vars.$br-primary;
    }
  }
}
// [X] END OF SORT ITEMS DROPDOWN [X]

// NOTE CONTAINER //
.task-card__note-content {
  cursor: text;
}
